<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="common :: head"></th:block> /*/-->
    <link rel="stylesheet" th:href="@{/css/wizard/wizard.css}" type="text/css"/>
    <link th:href="@{/vendors/general/sweetalert2/dist/sweetalert2.min.css}" type="text/css"/>
</head>

<body class="kt-page--fluid kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent">

<div th:replace="common :: header"></div>

<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="padding: 10px 0 !important;">
                            <div class="kt-subheader__main">
                                <span class="kt-subheader__separator kt-hidden"></span>
                                <div class="kt-subheader__breadcrumbs">
                                    <a class="kt-subheader__breadcrumbs-home" th:href="@{/}"><i
                                            class="flaticon2-shelter"></i></a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span>
                                    <!--<a href="" class="kt-subheader__breadcrumbs-link">
                                        Cuenta </a>-->

                                    <a class="kt-subheader__breadcrumbs-link" th:href="@{/indicators/riskratios}">Indicador
                                        Risk Ratios</a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span>
                                    <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Configuración</span>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Subheader -->

                        <!--Begin::  Content-->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
                            <div class="kt-portlet">
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    <div class="kt-grid kt-wizard-v3 kt-wizard-v3--white" data-ktwizard-state="first"
                                         id="kt_wizard_ratios">
                                        <div class="kt-grid__item">

                                            <!--begin: Form Wizard Nav -->
                                            <div class="kt-wizard-v3__nav">
                                                <div class="kt-wizard-v3__nav-items">
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="current"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 20%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>1</span> Ratio #1
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="pending"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 20%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>2</span> Ratio #2
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="pending"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 20%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>3</span> Ratio #3
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="pending"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 20%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>4</span> Ratio #4
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="pending"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 20%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>3</span> Resumen y guardar
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>

                                            <!--end: Form Wizard Nav -->
                                        </div>
                                        <input id="organization" type="text" hidden th:value="${dataintegration.organization}">
                                        <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">

                                            <!--begin: Form Wizard Form-->
                                            <form class="kt-form" id="kt_form_ratios" novalidate="novalidate">

                                                <!--begin: Form Wizard Step 1-->
                                                <div class="kt-wizard-v3__content" data-ktwizard-state="current"
                                                     style="padding-bottom: 0 !important"
                                                     data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Configura el <strong
                                                            class="text-success">RATIO #1</strong>:
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__form">
                                                            <div class="row">
                                                                <div class="col-md-12 col-lg-5">
                                                                    <div class="form-group">
                                                                        <label>Titulo:</label>
                                                                        <input class="form-control" id="ratio1_titule"
                                                                               name="ratio1_titule"
                                                                               placeholder="Titulo del ratio"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-5">
                                                                    <div class="form-group">
                                                                        <label>Subfijo (Opcional):</label>
                                                                        <input class="form-control" id="ratio1_postresult"
                                                                               name="ratio1_postresult"
                                                                               placeholder="Subfijo del ratio"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-2">
                                                                    <div class="form-group">
                                                                        <label>Color:</label>
                                                                        <input class="form-control"
                                                                               type="color"
                                                                               value="#B8B9C4" id="ratio1_color"
                                                                               name="ratio1_color">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <label>Por favor ingrese el ratio a calcular al
                                                                            momento de realizar el análisis
                                                                            financiero:</label>
                                                                        <input class="form-control expression_ratio"
                                                                               type="text" id="ratio1_expression"
                                                                               name="ratio1_expression" readonly
                                                                               style="height: 50px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--end: Form Wizard Step 1-->

                                                <!--begin: Form Wizard Step 2-->
                                                <div class="kt-wizard-v3__content"
                                                     data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Configura el <strong
                                                            class="text-success">RATIO #2</strong>:
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__form">
                                                            <div class="row">
                                                                <div class="col-md-12 col-lg-5">
                                                                    <div class="form-group">
                                                                        <label>Titulo:</label>
                                                                        <input class="form-control" id="ratio2_titule"
                                                                               name="ratio2_titule"
                                                                               placeholder="Titulo del ratio"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-5">
                                                                    <div class="form-group">
                                                                        <label>Subfijo:</label>
                                                                        <input class="form-control" id="ratio2_postresult"
                                                                               name="ratio2_postresult"
                                                                               placeholder="Subfijo del ratio"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-2">
                                                                    <div class="form-group">
                                                                        <label>Color:</label>
                                                                        <input class="form-control"
                                                                               type="color"
                                                                               value="#B8B9C4" id="ratio2_color"
                                                                               name="ratio2_color">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <label>Por favor ingrese el ratio a calcular al
                                                                            momento de realizar el análisis
                                                                            financiero:</label>
                                                                        <input class="form-control expression_ratio"
                                                                               type="text" id="ratio2_expression"
                                                                               name="ratio2_expression" readonly
                                                                               style="height: 50px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--end: Form Wizard Step 2-->

                                                <!--begin: Form Wizard Step 3-->
                                                <div class="kt-wizard-v3__content"
                                                     data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Configura el <strong
                                                            class="text-success">RATIO #3</strong>:
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__form">
                                                            <div class="row">
                                                                <div class="col-md-12 col-lg-5">
                                                                    <div class="form-group">
                                                                        <label>Titulo:</label>
                                                                        <input class="form-control" id="ratio3_titule"
                                                                               name="ratio3_titule"
                                                                               placeholder="Titulo del ratio"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-5">
                                                                    <div class="form-group">
                                                                        <label>Subfijo:</label>
                                                                        <input class="form-control" id="ratio3_postresult"
                                                                               name="ratio3_postresult"
                                                                               placeholder="Subfijo del ratio"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-2">
                                                                    <div class="form-group">
                                                                        <label>Color:</label>
                                                                        <input class="form-control"
                                                                               type="color"
                                                                               value="#B8B9C4" id="ratio3_color"
                                                                               name="ratio3_color">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <label>Por favor ingrese el ratio a calcular al
                                                                            momento de realizar el análisis
                                                                            financiero:</label>
                                                                        <input class="form-control expression_ratio"
                                                                               type="text" id="ratio3_expression"
                                                                               name="ratio3_expression" readonly
                                                                               style="height: 50px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--end: Form Wizard Step 3-->
                                                <!--begin: Form Wizard Step 4-->
                                                <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Configura el <strong
                                                            class="text-success">RATIO #4</strong>:
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__form">
                                                            <div class="row">
                                                                <div class="col-md-12 col-lg-5">
                                                                    <div class="form-group">
                                                                        <label>Titulo:</label>
                                                                        <input class="form-control" id="ratio4_titule"
                                                                               name="ratio4_titule"
                                                                               placeholder="Titulo del ratio"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-5">
                                                                    <div class="form-group">
                                                                        <label>Subfijo:</label>
                                                                        <input class="form-control" id="ratio4_postresult"
                                                                               name="ratio4_postresult"
                                                                               placeholder="Subfijo del ratio"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-2">
                                                                    <div class="form-group">
                                                                        <label>Color:</label>
                                                                        <input class="form-control"
                                                                               type="color"
                                                                               value="#B8B9C4" id="ratio4_color"
                                                                               name="ratio4_color">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <label>Por favor ingrese el ratio a calcular al
                                                                            momento de realizar el análisis
                                                                            financiero:</label>
                                                                        <input class="form-control expression_ratio"
                                                                               type="text" id="ratio4_expression"
                                                                               name="ratio4_expression" readonly
                                                                               style="height: 50px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--end: Form Wizard Step 4-->

                                                <!--begin: Form Wizard Step 5-->
                                                <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Resumen de los detalles y
                                                        guardar
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__review">
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title">
                                                                    Ratio #1
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content">
                                                                    <div class="col-lg-12">
                                                                        <div class="kt-portlet kt-portlet--skin-solid kt-portlet--"
                                                                             id="content_background_ratio1">
                                                                            <div class="kt-portlet__head">
                                                                                <div class="kt-portlet__head-label">
                                                                                    <span class="kt-portlet__head-icon">
                                                                                        <i class="flaticon-star"></i>
                                                                                    </span>
                                                                                    <h1 class="kt-portlet__head-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                                                                                        id="content_titule_ratio1">
                                                                                    </h1>
                                                                                </div>
                                                                            </div>
                                                                            <div class="kt-portlet__body">
                                                                                <h1 class="text-right" id="content_result_ratio1" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                                                    --</h1>
                                                                                <small id="content_operation_ratio1">--</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title">
                                                                    Ratio #2
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content">
                                                                    <div class="col-lg-12">
                                                                        <div class="kt-portlet kt-portlet--skin-solid kt-portlet--"
                                                                             id="content_background_ratio2">
                                                                            <div class="kt-portlet__head">
                                                                                <div class="kt-portlet__head-label">
                                                                                    <span class="kt-portlet__head-icon">
                                                                                        <i class="flaticon-star"></i>
                                                                                    </span>
                                                                                    <h1 class="kt-portlet__head-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                                                                                        id="content_titule_ratio2">
                                                                                    </h1>
                                                                                </div>
                                                                            </div>
                                                                            <div class="kt-portlet__body">
                                                                                <h1 class="text-right" id="content_result_ratio2" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                                                    --</h1>
                                                                                <small id="content_operation_ratio2">--</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title">
                                                                    Ratio #3
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content">
                                                                    <div class="col-lg-12">
                                                                        <div class="kt-portlet kt-portlet--skin-solid kt-portlet--"
                                                                             id="content_background_ratio3">
                                                                            <div class="kt-portlet__head">
                                                                                <div class="kt-portlet__head-label">
                                                                                    <span class="kt-portlet__head-icon">
                                                                                        <i class="flaticon-star"></i>
                                                                                    </span>
                                                                                    <h1 class="kt-portlet__head-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                                                                                        id="content_titule_ratio3">
                                                                                    </h1>
                                                                                </div>
                                                                            </div>
                                                                            <div class="kt-portlet__body">
                                                                                <h1 class="text-right" id="content_result_ratio3" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                                                    --</h1>
                                                                                <small id="content_operation_ratio3">--</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title">
                                                                    Ratio #4
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content">
                                                                    <div class="col-lg-12">
                                                                        <div class="kt-portlet kt-portlet--skin-solid kt-portlet--"
                                                                             id="content_background_ratio4">
                                                                            <div class="kt-portlet__head">
                                                                                <div class="kt-portlet__head-label">
                                                                                    <span class="kt-portlet__head-icon">
                                                                                        <i class="flaticon-star"></i>
                                                                                    </span>
                                                                                    <h1 class="kt-portlet__head-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                                                                                        id="content_titule_ratio4">
                                                                                    </h1>
                                                                                </div>
                                                                            </div>
                                                                            <div class="kt-portlet__body">
                                                                                <h1 class="text-right" id="content_result_ratio4" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                                                    --</h1>
                                                                                <small id="content_operation_ratio4">--</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--end: Form Wizard Step 5-->

                                                <!--begin: Form Actions -->
                                                <div class="kt-form__actions">
                                                    <div class="row">
                                                        <div class="row col-md-12 col-lg-6">
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-primary col-12 num-calculate">
                                                                        7
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-primary col-12 num-calculate">
                                                                        8
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-primary col-12 num-calculate">
                                                                        9
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-primary col-12 num-calculate">
                                                                        4
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-primary col-12 num-calculate">
                                                                        5
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-primary col-12 num-calculate">
                                                                        6
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-primary col-12 num-calculate">
                                                                        1
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-primary col-12 num-calculate">
                                                                        2
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-primary col-12 num-calculate">
                                                                        3
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-4 offset-4">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-primary col-12 zero-calculate">
                                                                        0
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row col-md-12 col-lg-6">
                                                            <div class="col-md-12 col-lg-7">
                                                                <div class="form-group">
                                                                    <select class="form-control col-12 variable_calculate"
                                                                            id="ratio1_variable"
                                                                            name="ratio1_variable">
                                                                        <option th:each="variable : ${dataintegration.variableCollection}"
                                                                                th:text="${variable.name}"
                                                                                th:value="${variable.code}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-lg-5">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-primary col-12 btn-variable-calculate">
                                                                        Agregar
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-outline-primary kt-font-bolder col-12 simbol-calculate text-uppercase"
                                                                            style="font-size:14px;">
                                                                        +
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-outline-primary kt-font-bolder col-12 simbol-calculate text-uppercase">
                                                                        -
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-outline-primary kt-font-bolder col-12 simbol-calculate text-uppercase"
                                                                            style="font-size:14px;">
                                                                        x
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-outline-primary kt-font-bolder col-12 simbol-calculate text-uppercase"
                                                                            style="font-size:14px;">
                                                                        /
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-outline-primary kt-font-bolder col-12 clear-calculate text-uppercase">
                                                                        C
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-outline-primary kt-font-bolder col-12 point-calculate text-uppercase">
                                                                        .
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-outline-primary kt-font-bolder col-12 parentesis-calculate text-uppercase"
                                                                            style="font-size:14px;">
                                                                        (
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="form-group">
                                                                    <button type="button"
                                                                            class="btn btn-outline-primary kt-font-bolder col-12 parentesis-calculate text-uppercase"
                                                                            style="font-size:14px;">
                                                                        )
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-form__actions">
                                                    <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                         data-ktwizard-type="action-prev">
                                                        Atrás
                                                    </div>
                                                    <div class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                         data-ktwizard-type="action-submit">
                                                        Guardar
                                                    </div>
                                                    <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                         data-ktwizard-type="action-next">
                                                        Siguiente
                                                    </div>
                                                </div>
                                                <!--end: Form Actions -->
                                            </form>
                                            <!--end: Form Wizard Form-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End::  Content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common :: footer"></div>
<!--/*/ <th:block th:include="common :: scripts"></th:block> /*/-->
<script th:src="@{/js/custom/indicator_ratios-setting.js}" type="text/javascript"></script>


</body>
</html>