<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="common :: head"></th:block> /*/-->
    <style type="text/css">
        .outer {
            width: 600px;
            height: 200px;
            margin: 0 auto;
        }

        .outer .chart-container {
            width: 300px;
            float: left;
            height: 200px;
        }

        .highcharts-yaxis-grid .highcharts-grid-line {
            display: none;
        }

        @media (max-width: 600px) {
            .outer {
                width: 100%;
                height: 400px;
            }

            .outer .chart-container {
                width: 300px;
                float: none;
                margin: 0 auto;
            }

        }
    </style>
</head>

<body class="kt-page--fluid kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent">

<div th:replace="common :: header"></div>

<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="padding: 10px 0 !important;">
                            <div class="kt-subheader__main">
                                <span class="kt-subheader__separator kt-hidden"></span>
                                <div class="kt-subheader__breadcrumbs">
                                    <a class="kt-subheader__breadcrumbs-home" th:href="@{/}"><i
                                            class="flaticon2-shelter"></i></a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span>
                                    <!--<a href="" class="kt-subheader__breadcrumbs-link">
                                        Cuenta </a>-->
                                    <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Indicador Risk Score</span>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Subheader -->
                        <!--Begin::  Content-->
                        <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content"
                             style="margin-bottom: 50px;">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="kt-portlet">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">Risk Score
                                                    <small>Indicador Risk Score para tu propia empresa</small>
                                                </h3>
                                            </div>
                                            <div class="kt-portlet__head-toolbar" th:if="${dataintegration != null}">
                                                <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand nav-tabs-line-info"
                                                    role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active"
                                                           role="tab" th:href="@{/indicators/riskscore/setting}"
                                                           style="font-weight: 900 !important;" ;>
                                                            <i class="flaticon2-gear"></i>
                                                            Nueva configuración
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <form class="kt-form kt-form--label-right">
                                            <div class="kt-portlet__body">
                                                <div class="kt-section" style="margin: 0 0 0 0;">
                                                    <div class="kt-section__body">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <h3 class="kt-portlet__head-title">Risk Score</small>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="row"
                                                             th:if="${dataintegration != null and riskscore != null}">
                                                            <div class="col-md-12 offset-1 col-lg-10">
                                                                <form class="kt-form" id="kt_form"
                                                                      novalidate="novalidate">
                                                                    <!--begin: Form Wizard Step 3-->
                                                                    <div class="kt-wizard-v3__content">
                                                                        <div class="kt-heading kt-heading--md">Resumen
                                                                            de la configuración actual del indicador
                                                                        </div>
                                                                        <div class="kt-form__section kt-form__section--first">
                                                                            <div class="kt-wizard-v3__review">
                                                                                <div class="kt-wizard-v3__review-item">
                                                                                    <div class="form-group row">
                                                                                        <div class="col-12">
                                                                                            <label>Titulo a
                                                                                                mostrar en el gráfico
                                                                                                de Risk Score:</label>
                                                                                        </div>
                                                                                        <div class="col-12">
                                                                                            <label class="text-info">
                                                                                                <strong th:text="${riskscore.titule}"></strong>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
                                                                                <div class="kt-wizard-v3__review-item">
                                                                                    <div class="form-group row">
                                                                                        <div class="col-12">
                                                                                            <label>Variable
                                                                                                con el valor para el
                                                                                                indicador:</label>
                                                                                        </div>
                                                                                        <div class="col-12">
                                                                                            <label class="text-info">
                                                                                                <strong th:text="${riskscore.variable}"></strong>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
                                                                                <div class="kt-wizard-v3__review-item">
                                                                                    <div class="form-group">
                                                                                        <div class="form-group">
                                                                                            <label>Detalles
                                                                                                de los rangos de Risk
                                                                                                Score:</label>
                                                                                        </div>
                                                                                        <div th:each="range : ${riskscore.riskScoreRangeCollection}">
                                                                                            <div class="form-group row">
                                                                                                <div class="col-3">
                                                                                                    <label>Rango:</label>
                                                                                                </div>
                                                                                                <div class="col-3">
                                                                                                    <strong class="text-info"
                                                                                                            th:text="${range.lowerLimit + ' a ' +range.upperLimit}"></strong>
                                                                                                </div>
                                                                                                <div class="col-3">
                                                                                                    <label>Color:</label>
                                                                                                </div>
                                                                                                <div class="col-3">
                                                                                                    <input class="form-control"
                                                                                                           disabled=""
                                                                                                           type="color"
                                                                                                           th:value="${range.color}">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
                                                                                <div class="kt-wizard-v3__review-item">
                                                                                    <div class="kt-wizard-v3__review-title">
                                                                                        Vista previa del gráfico del
                                                                                        indicador
                                                                                    </div>
                                                                                    <div class="kt-wizard-v3__review-content">
                                                                                        <div class="outer">
                                                                                            <div class="chart-container"
                                                                                                 id="content_score_graphic">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="row"
                                                             th:if="${dataintegration != null and riskscore == null}">
                                                            <div class="col-12 alert alert-warning" role="alert"
                                                                 style="margin-top: 30px">
                                                                <label>
                                                                    <strong style="margin-right: 8px;">Cuidado!</strong>
                                                                    Actualmente no está configurado el <strong>indicador
                                                                    Risk Score</strong>. Por favor ir a
                                                                    Indicadores > Risk Score >
                                                                    <strong>
                                                                        <a style="color: #ffffff;"
                                                                           th:href="@{/indicators/riskscore/setting}">Nueva
                                                                            configuración</a>
                                                                    </strong>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="row" th:if="${dataintegration == null}">
                                                            <div class="col-12 alert alert-danger" role="alert"
                                                                 style="margin-top: 30px">
                                                                <label>
                                                                    <strong style="margin-right: 8px;">Problemas!</strong>
                                                                    Actualmente no está configurado <strong>Data
                                                                    Integration</strong>. Por favor ir a
                                                                    Data Integration >
                                                                    <strong>
                                                                        <a style="color: #ffffff;"
                                                                           th:href="@{/dataintegration/setting}">Nueva
                                                                            configuración</a>
                                                                    </strong>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End::  Content-->
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div th:replace="common :: footer"></div>
<!--/*/ <th:block th:include="common :: scripts"></th:block> /*/-->

<script th:src="@{/vendors/custom/highcharts/highcharts.js}" type="text/javascript"
        th:if="${dataintegration != null and riskscore != null}"></script>
<script th:src="@{/vendors/custom/highcharts/highcharts-more.js}" type="text/javascript"
        th:if="${dataintegration != null and riskscore != null}"></script>
<script th:src="@{/vendors/custom/highcharts/modules/solid-gauge.js}" type="text/javascript"
        th:if="${dataintegration != null and riskscore != null}"></script>
<script type="text/javascript" th:inline="javascript" th:if="${dataintegration != null and riskscore != null}">
    /*<![CDATA[*/
    var riskscore = /*[[${riskscore}]]*/ undefined;
    /*]]>*/
    var interval;

    function resumenGraphic() {
        var titulo = riskscore.titule;
        var riskScoreRanges = riskscore.riskScoreRangeCollection;
        var cant = riskScoreRanges.length;
        var ranges = [];
        for (var i = 0; i < cant; i++) {
            ranges.push([parseInt(riskScoreRanges[i].upperLimit) / parseInt(riskScoreRanges[cant - 1].upperLimit), riskScoreRanges[i].color]);
        }
        handleScore(titulo, parseInt(riskScoreRanges[0].lowerLimit), parseInt(riskScoreRanges[cant - 1].upperLimit), ranges);
        if (interval != undefined) {
            clearInterval(interval);
        }
        interval = setInterval(function () {
            var chart = $('#content_score_graphic').highcharts();
            if (typeof chart === 'undefined') {
                return;
            }
            var series = chart.series[0];
            series.setData([parseInt(Math.round(Math.random() * parseInt(riskScoreRanges[cant - 1].upperLimit)))], false, undefined, true);
            chart.redraw();
        }, 2000);
    }

    function handleScore(title, min, max, ranges) {
        var chartSpeed = Highcharts.chart('content_score_graphic', Highcharts.merge(
            {
                chart: {
                    type: 'solidgauge',
                    alignTicks: false,
                },
                title: {
                    text: '',
                    floating: true
                },
                pane: {
                    center: ['50%', '85%'],
                    size: '140%',
                    startAngle: -90,
                    endAngle: 90,
                    background: {
                        backgroundColor: '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                yAxis: {
                    stops: ranges,
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickAmount: 5,
                    title: {
                        y: -80
                    },
                    labels: {
                        y: 16
                    }
                },

                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: 5,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                }
            },
            {
                yAxis: {
                    min: min,
                    max: max,
                    title: {
                        text: title
                    }
                },

                credits: {
                    enabled: false
                },

                series: [{
                    data: [2],
                    tooltip: {
                        enabled: false
                    }
                }]

            }));
    }

    jQuery(document).ready(function () {
        resumenGraphic();
    });

</script>
</body>
</html>