<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="fragments/common :: head"></th:block> /*/-->
    <link rel="stylesheet" th:href="@{/css/wizard/wizard.css}" type="text/css"/>
    <link th:href="@{/vendors/general/sweetalert2/dist/sweetalert2.min.css}" type="text/css"/>
    <style type="text/css">
        .outer {
            width: 600px;
            height: 200px;
            margin: 0 auto;
        }

        .outer .chart-container {
            width: 300px;
            float: left;
            height: 200px;
        }

        .highcharts-yaxis-grid .highcharts-grid-line {
            display: none;
        }

        @media (max-width: 600px) {
            .outer {
                width: 100%;
                height: 400px;
            }

            .outer .chart-container {
                width: 300px;
                float: none;
                margin: 0 auto;
            }

        }
    </style>
</head>

<body class="kt-page--fluid kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent">

<div th:replace="fragments/common :: header"></div>

<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="padding: 10px 0 !important;">
                            <div class="kt-subheader__main">
                                <span class="kt-subheader__separator kt-hidden"></span>
                                <div class="kt-subheader__breadcrumbs">
                                    <a class="kt-subheader__breadcrumbs-home" th:href="@{/}"><i
                                            class="flaticon2-shelter"></i></a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span>
                                    <!--<a href="" class="kt-subheader__breadcrumbs-link">
                                        Cuenta </a>-->

                                    <a class="kt-subheader__breadcrumbs-link" th:href="@{/indicators/score}">Indicador
                                        Risk Score</a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span>
                                    <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Configuración</span>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Subheader -->

                        <!--Begin::  Content-->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
                            <div class="kt-portlet">
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    <div class="kt-grid kt-wizard-v3 kt-wizard-v3--white" data-ktwizard-state="first"
                                         id="kt_wizard_v3">
                                        <div class="kt-grid__item">

                                            <!--begin: Form Wizard Nav -->
                                            <div class="kt-wizard-v3__nav">
                                                <div class="kt-wizard-v3__nav-items">
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="current"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 33.3%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>1</span> Limites del Risk Score
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="pending"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 33.3%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>2</span> Rangos intermedios
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="pending"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 33.3%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>3</span> Resumen y guardar
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>

                                            <!--end: Form Wizard Nav -->
                                        </div>
                                        <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">

                                            <!--begin: Form Wizard Form-->
                                            <form class="kt-form" id="kt_form" novalidate="novalidate">

                                                <!--begin: Form Wizard Step 1-->
                                                <div class="kt-wizard-v3__content" data-ktwizard-state="current"
                                                     data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Configura los limites del
                                                        Risk Score
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__form">
                                                            <div class="row">
                                                                <div class="col-xl-6">
                                                                    <div class="form-group">
                                                                        <label>Titulo a mostrar en el gráfico de Risk
                                                                            Score:</label>
                                                                        <input class="form-control" name="valorMinScore"
                                                                               placeholder="Titulo del gráfico"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xl-6">
                                                                    <div class="form-group">
                                                                        <label>Variable de donde se obtendrá el
                                                                            valor:</label>
                                                                        <select class="form-control" name="variable">
                                                                            <option value="">Seleccione un opción
                                                                            </option>
                                                                            <option value="AF">Edad</option>
                                                                            <option value="AX">Número de hijos</option>
                                                                            <option value="AS">Cantidad de documentos
                                                                                protestados dentro de últimos 2 meses
                                                                            </option>
                                                                            <option value="DZ">Cantidad de documentos
                                                                                protestados dentro de últimos 6 meses
                                                                            </option>
                                                                            <option value="AL">Cantidad de documentos
                                                                                protestados dentro de últimos 12 meses
                                                                            </option>
                                                                            <option value="AS">Cantidad de documentos
                                                                                protestados aclarados dentro de últimos
                                                                                2 meses
                                                                            </option>
                                                                            <option value="DZ">Cantidad de documentos
                                                                                protestados aclarados dentro de últimos
                                                                                6 meses
                                                                            </option>
                                                                            <option value="AL">Cantidad de documentos
                                                                                protestados aclarados dentro de últimos
                                                                                12 meses
                                                                            </option>
                                                                            <option value="AS">Cantidad de documentos
                                                                                protestados no aclarados dentro de
                                                                                últimos 2 meses
                                                                            </option>
                                                                            <option value="DZ">Cantidad de documentos
                                                                                protestados no aclarados dentro de
                                                                                últimos 6 meses
                                                                            </option>
                                                                            <option value="AL">Cantidad de documentos
                                                                                protestados no aclarados dentro de
                                                                                últimos 12 meses
                                                                            </option>
                                                                            <option value="AS">Monto total de documentos
                                                                                protestados dentro de últimos 2 meses
                                                                            </option>
                                                                            <option value="DZ">Monto total de documentos
                                                                                protestados dentro de últimos 6 meses
                                                                            </option>
                                                                            <option value="AL">Monto total de documentos
                                                                                protestados dentro de últimos 12 meses
                                                                            </option>
                                                                            <option value="AS">Monto total de documentos
                                                                                protestados aclarados dentro de últimos
                                                                                2 meses
                                                                            </option>
                                                                            <option value="DZ">Monto total de documentos
                                                                                protestados aclarados dentro de últimos
                                                                                6 meses
                                                                            </option>
                                                                            <option value="AL">Monto total de documentos
                                                                                protestados aclarados dentro de últimos
                                                                                12 meses
                                                                            </option>
                                                                            <option value="AS">Monto total de documentos
                                                                                protestados no aclarados dentro de
                                                                                últimos 2 meses
                                                                            </option>
                                                                            <option value="DZ">Monto total de documentos
                                                                                protestados no aclarados dentro de
                                                                                últimos 6 meses
                                                                            </option>
                                                                            <option value="AL">Monto total de documentos
                                                                                protestados no aclarados dentro de
                                                                                últimos 12 meses
                                                                            </option>
                                                                            <option value="AS">Cantidad de cuentas
                                                                                corrientes activas dentro de últimos 2
                                                                                meses
                                                                            </option>
                                                                            <option value="DZ">Cantidad de cuentas
                                                                                corrientes activas dentro de últimos 6
                                                                                meses
                                                                            </option>
                                                                            <option value="AL">Cantidad de cuentas
                                                                                corrientes activas dentro de últimos 12
                                                                                meses
                                                                            </option>
                                                                            <option value="AS">Cantidad de tarjetas de
                                                                                crédito activas dentro de últimos 2
                                                                                meses
                                                                            </option>
                                                                            <option value="DZ">Cantidad de tarjetas de
                                                                                crédito activas dentro de últimos 6
                                                                                meses
                                                                            </option>
                                                                            <option value="AL">Cantidad de tarjetas de
                                                                                crédito activas dentro de últimos 12
                                                                                meses
                                                                            </option>
                                                                            <option value="AS">Promedio de Score
                                                                                Comercial dentro de últimos 2 meses
                                                                            </option>
                                                                            <option value="DZ">Promedio de Score
                                                                                Comercial dentro de últimos 6 meses
                                                                            </option>
                                                                            <option value="AL">Promedio de Score
                                                                                Comercial dentro de últimos 12 meses
                                                                            </option>
                                                                            <option value="AL">Cantidad de socios de la
                                                                                última constitución de sociedad
                                                                            </option>
                                                                            <option value="AL">Cantidad de recursos
                                                                                humanos perteneciente a la última
                                                                                constitución de sociedad
                                                                            </option>
                                                                            <option value="AL">Monto total del avaluo de
                                                                                todos los vehículos perteneciente a la
                                                                                última constitución de sociedad
                                                                            </option>
                                                                            <option value="AL">Monto total del avaluo de
                                                                                todos los bienes raíces perteneciente a
                                                                                la última constitución de sociedad
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Límite inferior</label>
                                                                <input class="form-control" name="valorMinScore"
                                                                       placeholder="Valor mínimo" type="text">
                                                                <span class="form-text text-muted">Por favor ingresa el valor mínimo que podría tomar el indicador.</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Límite superior</label>
                                                                <input class="form-control" name="valorMaxScore"
                                                                       placeholder="Valor máximo" type="text">
                                                                <span class="form-text text-muted">Por favor ingresa el valor máximo que podría tomar el indicador.</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <!--end: Form Wizard Step 1-->

                                                <!--begin: Form Wizard Step 2-->
                                                <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Ingrese los detalles de los
                                                        rangos
                                                        del Risk Score
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__form">
                                                            <div id="kt_repeater_1">
                                                                <div class="form-group form-group-last row"
                                                                     id="kt_repeater_1">
                                                                    <div class="col-lg-12" data-repeater-list="">
                                                                        <div class="form-group row align-items-center"
                                                                             data-repeater-item>
                                                                            <div class="col-md-5">
                                                                                <div class="kt-form__group--inline">
                                                                                    <div class="kt-form__control">
                                                                                        <div class="kt-form__label">
                                                                                            <label>Limite del
                                                                                                rango</label>
                                                                                        </div>
                                                                                        <input class="form-control"
                                                                                               placeholder="Valor máximo del rango"
                                                                                               type="text">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="d-md-none kt-margin-b-10"></div>
                                                                            </div>
                                                                            <div class="col-md-5">
                                                                                <div class="kt-form__group--inline">
                                                                                    <div class="kt-form__control">
                                                                                        <div class="kt-form__label">
                                                                                            <label>Color del
                                                                                                rango</label>
                                                                                        </div>
                                                                                        <input class="form-control"
                                                                                               type="color"
                                                                                               value="#B8B9C4">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="d-md-none kt-margin-b-10"></div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <a class="btn-sm btn btn-label-danger btn-bold"
                                                                                   data-repeater-delete=""
                                                                                   href="javascript:;">
                                                                                    <i class="la la-trash-o"></i>
                                                                                    Eliminar
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group form-group-last row">
                                                                    <div class="col-lg-4">
                                                                        <a class="btn btn-bold btn-sm btn-label-brand" data-repeater-create=""
                                                                           href="javascript:;">
                                                                            <i class="la la-plus"></i> Agregar
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--end: Form Wizard Step 2-->

                                                <!--begin: Form Wizard Step 3-->
                                                <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Resumen de los detalles y
                                                        guardar
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__review">
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title">
                                                                    Titulo a mostrar en el gráfico de Risk Score
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content">
                                                                    <label>Puntaje de afiliación</label>
                                                                </div>
                                                            </div>
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title">
                                                                    Variable con el valor para el indicador
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content">
                                                                    <label>Promedio de Score Comercial dentro de últimos
                                                                        12 meses</label>
                                                                </div>
                                                            </div>
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title">
                                                                    Detalles de los rangos de Risk Score
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content">
                                                                    <div class="form-group row">
                                                                        <label class="col-xl-3 col-lg-3 col-form-label">Rango:</label>
                                                                        <label class="col-xl-3 col-lg-3 col-form-label"><strong>0
                                                                            a
                                                                            15</strong>
                                                                        </label>
                                                                        <label class="col-xl-3 col-lg-3 col-form-label">Color:</label>
                                                                        <div class="col-lg-3 col-xl-3">
                                                                            <input
                                                                                    class="form-control"
                                                                                    disabled
                                                                                    type="color"
                                                                                    value="#ff0000">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-xl-3 col-lg-3 col-form-label">Rango:</label>
                                                                        <label class="col-xl-3 col-lg-3 col-form-label"><strong>16
                                                                            a
                                                                            70</strong>
                                                                        </label>
                                                                        <label class="col-xl-3 col-lg-3 col-form-label">Color:</label>
                                                                        <div class="col-lg-3 col-xl-3">
                                                                            <input
                                                                                    class="form-control"
                                                                                    disabled
                                                                                    type="color"
                                                                                    value="#ffeb00">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-xl-3 col-lg-3 col-form-label">Rango:</label>
                                                                        <label class="col-xl-3 col-lg-3 col-form-label"><strong>71
                                                                            a
                                                                            100</strong>
                                                                        </label>
                                                                        <label class="col-xl-3 col-lg-3 col-form-label">Color:</label>
                                                                        <div class="col-lg-3 col-xl-3">
                                                                            <input
                                                                                    class="form-control"
                                                                                    disabled
                                                                                    type="color"
                                                                                    value="#0aff61">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title">
                                                                    Vista previa del gráfico del indicador
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content">
                                                                    <div class="outer">
                                                                        <div class="chart-container"
                                                                             id="container-speed"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--end: Form Wizard Step 3-->

                                                <!--begin: Form Actions -->
                                                <div class="kt-form__actions">
                                                    <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                         data-ktwizard-type="action-prev">
                                                        Atrás
                                                    </div>
                                                    <div class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                         data-ktwizard-type="action-submit">
                                                        Guardar
                                                    </div>
                                                    <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                         data-ktwizard-type="action-next">
                                                        Siguiente
                                                    </div>
                                                </div>

                                                <!--end: Form Actions -->
                                            </form>

                                            <!--end: Form Wizard Form-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End::  Content-->
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div th:replace="fragments/common :: footer"></div>
<!--/*/ <th:block th:include="fragments/common :: scripts"></th:block> /*/-->
<script th:src="@{/js/wizard/wizard.js}" type="text/javascript"></script>
<script th:src="@{/js/form-repeater/form-repeater.js}" type="text/javascript"></script>


<script th:src="@{/vendors/custom/highcharts/highcharts.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/highcharts/highcharts-more.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/highcharts/modules/solid-gauge.js}" type="text/javascript"></script>


<script type="text/javascript">
    var gaugeOptions = {

        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            center: ['50%', '85%'],
            size: '140%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#DF5353'],
                [0.5, '#DDDF0D'],
                [0.9, '#55BF3B']
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickAmount: 2,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    // The speed gauge
    var chartSpeed = Highcharts.chart('container-speed', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: 'Score'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'Score',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                    '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ''
            }
        }]

    }));

    // Bring life to the dials
    setInterval(function () {
        // Speed
        var point,
            newVal,
            inc;

        if (chartSpeed) {
            point = chartSpeed.series[0].points[0];
            inc = Math.round((Math.random() - 0.5) * 100);
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 100) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }
    }, 2000);

</script>

<script>

</script>
</body>
</html>