<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="common :: head"></th:block> /*/-->
    <link rel="stylesheet" th:href="@{/css/wizard/wizard.css}" type="text/css"/>
    <link th:href="@{/vendors/general/sweetalert2/dist/sweetalert2.min.css}" type="text/css"/>
    <style type="text/css">
        .outer {
            width: 600px;
            height: 200px;
            margin: 0 auto;
        }

        .outer .chart-container {
            width: 300px;
            float: left;
            height: 200px;
        }

        .highcharts-yaxis-grid .highcharts-grid-line {
            display: none;
        }

        @media (max-width: 600px) {
            .outer {
                width: 100%;
                height: 400px;
            }

            .outer .chart-container {
                width: 300px;
                float: none;
                margin: 0 auto;
            }

        }
    </style>
</head>

<body class="kt-page--fluid kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent">

<div th:replace="common :: header"></div>

<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="padding: 10px 0 !important;">
                            <div class="kt-subheader__main">
                                <span class="kt-subheader__separator kt-hidden"></span>
                                <div class="kt-subheader__breadcrumbs">
                                    <a class="kt-subheader__breadcrumbs-home" th:href="@{/}"><i
                                            class="flaticon2-shelter"></i></a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span>
                                    <!--<a href="" class="kt-subheader__breadcrumbs-link">
                                        Cuenta </a>-->

                                    <a class="kt-subheader__breadcrumbs-link" th:href="@{/indicators/riskscore}">Indicador
                                        Risk Score</a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span>
                                    <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Configuración</span>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Subheader -->

                        <!--Begin::  Content-->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
                            <div class="kt-portlet">
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    <div class="kt-grid kt-wizard-v3 kt-wizard-v3--white" data-ktwizard-state="first"
                                         id="kt_wizard_score">
                                        <div class="kt-grid__item">

                                            <!--begin: Form Wizard Nav -->
                                            <div class="kt-wizard-v3__nav">
                                                <div class="kt-wizard-v3__nav-items">
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="current"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 33.3%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>1</span> Limites del Risk Score
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="pending"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 33.3%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>2</span> Rangos intermedios
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="pending"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 33.3%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>3</span> Resumen y guardar
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>

                                            <!--end: Form Wizard Nav -->
                                        </div>
                                        <input id="organization" type="text" hidden th:value="${dataintegration.organization}">
                                        <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">

                                            <!--begin: Form Wizard Form-->
                                            <form class="kt-form" id="kt_form" novalidate="novalidate" style="padding: 2rem 0 2rem;">

                                                <!--begin: Form Wizard Step 1-->
                                                <div class="kt-wizard-v3__content" data-ktwizard-state="current"
                                                     data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Configura los limites del
                                                        Risk Score
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__form">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <label>Titulo a mostrar en el gráfico de Risk
                                                                            Score:</label>
                                                                        <input class="form-control" id="score_titule" name="score_titule"
                                                                               placeholder="Titulo del gráfico"
                                                                               type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <label>Variable de donde se obtendrá el
                                                                            valor:</label>
                                                                        <select class="form-control" id="score_variable" name="score_variable">
                                                                            <option th:each="variable : ${dataintegration.variableCollection}"
                                                                                    th:text="${variable.name}"
                                                                                    th:value="${variable.code}">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--end: Form Wizard Step 1-->

                                                <!--begin: Form Wizard Step 2-->
                                                <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Ingrese los detalles de los
                                                        rangos
                                                        del Risk Score
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__form">
                                                            <div id="kt_repeater_score">
                                                                <div class="form-group form-group-last row">
                                                                    <div class="col-lg-12" data-repeater-list="">
                                                                        <div class="form-group row align-items-center"
                                                                             data-repeater-item>
                                                                            <div class="col-md-4">
                                                                                <div class="kt-form__group--inline">
                                                                                    <div class="kt-form__control">
                                                                                        <div class="kt-form__label">
                                                                                            <label>Limite inferior del
                                                                                                rango</label>
                                                                                        </div>
                                                                                        <input class="form-control lim_score"
                                                                                               placeholder="Valor mínimo del rango"
                                                                                               type="number"
                                                                                               name="[0][lowerLimit]">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="kt-form__group--inline">
                                                                                    <div class="kt-form__control">
                                                                                        <div class="kt-form__label">
                                                                                            <label>Limite superior del
                                                                                                rango</label>
                                                                                        </div>
                                                                                        <input class="form-control lim_score"
                                                                                               placeholder="Valor máximo del rango"
                                                                                               type="number"
                                                                                               name="[0][upperLimit]">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div class="kt-form__group--inline">
                                                                                    <div class="kt-form__control">
                                                                                        <div class="kt-form__label">
                                                                                            <label>Color del
                                                                                                rango</label>
                                                                                        </div>
                                                                                        <input class="form-control"
                                                                                               type="color"
                                                                                               value="#B8B9C4" name="[0][color]">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div class="kt-form__group--inline">
                                                                                    <a class="btn-xl btn btn-label-danger"
                                                                                       data-repeater-delete=""
                                                                                       href="javascript:;"
                                                                                       style="font-weight: 900;"
                                                                                       hidden="hidden"
                                                                                       name="[0][btn-delete]">
                                                                                        <i class="flaticon2-trash"></i>
                                                                                        Eliminar
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row align-items-center"
                                                                             data-repeater-item>
                                                                            <div class="col-md-4">
                                                                                <div class="kt-form__group--inline">
                                                                                    <div class="kt-form__control">
                                                                                        <div class="kt-form__label">
                                                                                            <label>Limite inferior del
                                                                                                rango</label>
                                                                                        </div>
                                                                                        <input class="form-control lim_score"
                                                                                               placeholder="Valor mínimo del rango"
                                                                                               type="number"
                                                                                               name="[1][lowerLimit]">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="kt-form__group--inline">
                                                                                    <div class="kt-form__control">
                                                                                        <div class="kt-form__label">
                                                                                            <label>Limite superior del
                                                                                                rango</label>
                                                                                        </div>
                                                                                        <input class="form-control lim_score"
                                                                                               placeholder="Valor máximo del rango"
                                                                                               type="number"
                                                                                               name="[1][upperLimit]">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div class="kt-form__group--inline">
                                                                                    <div class="kt-form__control">
                                                                                        <div class="kt-form__label">
                                                                                            <label>Color del
                                                                                                rango</label>
                                                                                        </div>
                                                                                        <input class="form-control"
                                                                                               type="color"
                                                                                               value="#B8B9C4" name="[1][color]">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <div class="kt-form__group--inline">
                                                                                    <a class="btn-xl btn btn-label-danger"
                                                                                       data-repeater-delete=""
                                                                                       href="javascript:;"
                                                                                       style="font-weight: 900;"
                                                                                       hidden="hidden"
                                                                                       name="[1][btn-delete]">
                                                                                        <i class="flaticon2-trash"></i>
                                                                                        Eliminar
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group form-group-last row">
                                                                    <div class="col-12">
                                                                        <a class="btn btn-bold btn-sm btn-label-brand col-12"
                                                                           data-repeater-create=""
                                                                           href="javascript:;"
                                                                           style="font-weight: 900;">
                                                                            <i class="flaticon2-add-1"></i> Agregar
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--end: Form Wizard Step 2-->

                                                <!--begin: Form Wizard Step 3-->
                                                <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Resumen de los detalles y
                                                        guardar
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__review">
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title">
                                                                    Titulo a mostrar en el gráfico de Risk Score
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content">
                                                                    <label id="content_titule" class="text-info"></label>
                                                                </div>
                                                            </div>
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title">
                                                                    Variable con el valor para el indicador
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content">
                                                                    <label id="content_variable" class="text-info"></label>
                                                                </div>
                                                            </div>
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title" style="margin-bottom: 15px;">
                                                                    Detalles de los rangos de Risk Score
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content"  id="content_ranges">
                                                                </div>
                                                            </div>
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title">
                                                                    Vista previa del gráfico del indicador
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content">
                                                                    <div class="outer">
                                                                        <div class="chart-container"
                                                                             id="content_score_graphic">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--end: Form Wizard Step 3-->

                                                <!--begin: Form Actions -->
                                                <div class="kt-form__actions">
                                                    <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                         data-ktwizard-type="action-prev">
                                                        Atrás
                                                    </div>
                                                    <div class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                         data-ktwizard-type="action-submit">
                                                        Guardar
                                                    </div>
                                                    <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                         data-ktwizard-type="action-next">
                                                        Siguiente
                                                    </div>
                                                </div>

                                                <!--end: Form Actions -->
                                            </form>

                                            <!--end: Form Wizard Form-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End::  Content-->
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div th:replace="common :: footer"></div>
<!--/*/ <th:block th:include="common :: scripts"></th:block> /*/-->
<script th:src="@{/js/form-repeater/form-repeater.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/highcharts/highcharts.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/highcharts/highcharts-more.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/highcharts/modules/solid-gauge.js}" type="text/javascript"></script>
<script th:src="@{/js/custom/indicator_score-setting.js}" type="text/javascript"></script>
<script>
    (function (factory) {
        if (typeof define === "function" && define.amd) {
            define(["jquery", "../jquery.validate"], factory);
        } else if (typeof module === "object" && module.exports) {
            module.exports = factory(require("jquery"));
        } else {
            factory(jQuery);
        }
    }(function ($) {

        /*
         * Translated default messages for the jQuery validation plugin.
         * Locale: ES (Spanish; Español)
         * Region: PE (Perú)
         */
        $.extend($.validator.messages, {
            required: "Este campo es obligatorio.",
            remote: "Por favor, llene este campo.",
            email: "Por favor, escriba un correo electrónico válido.",
            url: "Por favor, escriba una URL válida.",
            date: "Por favor, escriba una fecha válida.",
            dateISO: "Por favor, escriba una fecha (ISO) válida.",
            number: "Por favor, escriba sólo números enteros positivos.",
            digits: "Por favor, escriba sólo números enteros positivos.",
            creditcard: "Por favor, escriba un número de tarjeta válido.",
            equalTo: "Por favor, escriba el mismo valor de nuevo.",
            extension: "Por favor, selccione un archivo con una extensión permitida.",
            maxlength: $.validator.format("Por favor, no escriba más de {0} caracteres."),
            minlength: $.validator.format("Por favor, no escriba menos de {0} caracteres."),
            rangelength: $.validator.format("Por favor, escriba un valor entre {0} y {1} caracteres."),
            range: $.validator.format("Por favor, escriba un valor entre {0} y {1}."),
            max: $.validator.format("Por favor, escriba un valor menor o igual a {0}."),
            min: $.validator.format("Por favor, escriba un valor mayor o igual a {0}."),
            nifES: "Por favor, escriba un NIF válido.",
            nieES: "Por favor, escriba un NIE válido.",
            cifES: "Por favor, escriba un CIF válido."
        });
        return $;
    }));
</script>


</body>
</html>