<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="common :: head"></th:block> /*/-->
</head>

<body class="kt-page--fluid kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent">

<div th:replace="common :: header"></div>

<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="padding: 10px 0 !important;">
                            <div class="kt-subheader__main">
                                <span class="kt-subheader__separator kt-hidden"></span>
                                <div class="kt-subheader__breadcrumbs">
                                    <a class="kt-subheader__breadcrumbs-home" th:href="@{/}"><i
                                            class="flaticon2-shelter"></i></a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span>
                                    <!--<a href="" class="kt-subheader__breadcrumbs-link">
                                        Cuenta </a>-->

                                    <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Indicador Business Tree</span>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Subheader -->

                        <!--Begin::  Content-->
                        <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content"
                             style="margin-bottom: 50px;">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="kt-portlet">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">Business Tree
                                                    <small>Indicador Business Tree para tu propia empresa</small>
                                                </h3>
                                            </div>
                                            <div class="kt-portlet__head-toolbar" th:if="${dataintegration != null}">
                                                <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand nav-tabs-line-info"
                                                    role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active"
                                                           role="tab" th:href="@{/indicators/businesstree/setting}"
                                                           style="font-weight: 900 !important;" ;>
                                                            <i class="flaticon2-gear"></i>
                                                            Nueva configuración
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <form class="kt-form kt-form--label-right">
                                            <div class="kt-portlet__body">
                                                <div class="kt-section" style="margin: 0 0 0 0;">
                                                    <div class="kt-section__body">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <h3 class="kt-portlet__head-title">Business Tree</small>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="row"
                                                             th:if="${dataintegration != null and businesstree != null}">
                                                            <div class="col-lg-12">
                                                                <form class="kt-form" id="kt_form"
                                                                      novalidate="novalidate">
                                                                    <!--begin: Form Wizard Step 3-->
                                                                    <div class="kt-wizard-v3__content">
                                                                        <div class="kt-heading kt-heading--md">Resumen
                                                                            de la configuración actual del indicador
                                                                        </div>
                                                                        <div class="kt-form__section kt-form__section--first">
                                                                            <div class="kt-wizard-v3__review">
                                                                                <div class="kt-wizard-v3__review-item">
                                                                                    <div class="form-group">
                                                                                        <div class="form-group">
                                                                                            <label>Detalles
                                                                                                de los nodos
                                                                                                configurados:</label>
                                                                                        </div>
                                                                                        <div class="form-group row"
                                                                                             th:each="node : ${businesstree.businessTreeNodeCollection}"
                                                                                             th:if="${node.output == false}">
                                                                                            <div class="col-3">
                                                                                                <label>Expresión:</label>
                                                                                            </div>
                                                                                            <div class="col-6">
                                                                                                <strong class="text-info"
                                                                                                        th:text="${node.expression}"></strong>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
                                                                                    <div class="form-group">
                                                                                        <div class="form-group">
                                                                                            <label>Detalles
                                                                                                de las salidas de flujo
                                                                                                configuradas:</label>
                                                                                        </div>
                                                                                        <div class="form-group row"
                                                                                             th:each="node : ${businesstree.businessTreeNodeCollection}"
                                                                                             th:if="${node.output == true}">
                                                                                            <div class="col-4">
                                                                                                <label>Texto de
                                                                                                    salida:</label>
                                                                                            </div>
                                                                                            <div class="col-3">
                                                                                                <strong class="text-info"
                                                                                                        th:text="${node.labelOutput}"></strong>
                                                                                            </div>
                                                                                            <div class="col-3">
                                                                                                <label>Color:</label>
                                                                                            </div>
                                                                                            <div class="col-2">
                                                                                                <input class="form-control"
                                                                                                       disabled=""
                                                                                                       type="color"
                                                                                                       th:value="${node.color}">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
                                                                                <div class="kt-wizard-v3__review-item">
                                                                                    <div class="kt-wizard-v3__review-title">
                                                                                        <div class="form-group">
                                                                                            Vista previa de las posibles
                                                                                            salidas del árbol decisional
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="kt-wizard-v3__review-content">
                                                                                        <div class="form-group">
                                                                                            <div class="form-group row"
                                                                                                 id="content_outputs">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="row"
                                                             th:if="${dataintegration != null and businesstree == null}">
                                                            <div class="col-12 alert alert-warning" role="alert"
                                                                 style="margin-top: 30px">
                                                                <label>
                                                                    <strong style="margin-right: 8px;">Cuidado!</strong>
                                                                    Actualmente no está configurado el <strong>indicador
                                                                    Business Tree</strong>. Por favor ir a
                                                                    Indicadores > Business Tree >
                                                                    <strong>
                                                                        <a style="color: #ffffff;"
                                                                           th:href="@{/indicators/businesstree/setting}">Nueva
                                                                            configuración</a>
                                                                    </strong>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="row" th:if="${dataintegration == null}">
                                                            <div class="col-12 alert alert-danger" role="alert"
                                                                 style="margin-top: 30px">
                                                                <label>
                                                                    <strong style="margin-right: 8px;">Problemas!</strong>
                                                                    Actualmente no está configurado <strong>Data
                                                                    Integration</strong>. Por favor ir a
                                                                    Data Integration >
                                                                    <strong>
                                                                        <a style="color: #ffffff;"
                                                                           th:href="@{/dataintegration/setting}">Nueva
                                                                            configuración</a>
                                                                    </strong>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End::  Content-->
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div th:replace="common :: footer"></div>
<!--/*/ <th:block th:include="common :: scripts"></th:block> /*/-->
<script th:src="@{/vendors/general/jquery.pulsate/jquery.pulsate.js}" type="text/javascript"></script>

<script type="text/javascript" th:inline="javascript" th:if="${dataintegration != null and businesstree != null}">
    /*<![CDATA[*/
    var businesstree = /*[[${businesstree}]]*/ undefined;

    /*]]>*/

    // Class initialization on page load
    jQuery(document).ready(function () {
        var template = "";
        var businessTreeNodeCollection = businesstree.businessTreeNodeCollection;
        for (var i = 0; i < businessTreeNodeCollection.length; i++) {
            if (businessTreeNodeCollection[i].output && $('#div_' + businessTreeNodeCollection[i].labelOutput.replace(/\s/g,'') + businessTreeNodeCollection[i].color.replace('#','')).length == 0) {
                template +=
                    "<div class=\"col-lg-12\" style='margin-top: 40px;'>" +
                    "   <div id=\"div_" + businessTreeNodeCollection[i].labelOutput.replace(/\s/g,'') + businessTreeNodeCollection[i].color.replace('#','') + "\" class=\"offset-lg-1 col-lg-10\">\n" +
                    "       <div class=\"kt-portlet\">\n" +
                    "           <div class=\"kt-portlet__body\">\n" +
                    "                 <h1 class=\"text-center kt-font-bolder\"\n" +
                    "                    style=\"white-space: nowrap;overflow: hidden;text-overflow: ellipsis;\" id=\"label_" + businessTreeNodeCollection[i].labelOutput.replace(/\s/g,'') + businessTreeNodeCollection[i].color.replace('#','') + "\">" + businessTreeNodeCollection[i].labelOutput + "</h1>\n" +
                    "            </div>\n" +
                    "        </div>\n" +
                    "    </div>\n" +
                    "</div>";
                $('#content_outputs').html('');
                $('#content_outputs').html(template);
            }
        }
        $('#content_outputs').html(template);
        for (var i = 0; i < businessTreeNodeCollection.length; i++) {
            if (businessTreeNodeCollection[i].output) {
                handlePulsate(businessTreeNodeCollection[i].labelOutput, businessTreeNodeCollection[i].color);
            }
        }
    });

    function handlePulsate(titule, color) {
        if (!jQuery().pulsate) {
            return;
        }
        $('#label_' + titule.replace(/\s/g,'') + color.replace('#','')).html(titule);
        $('#label_' + titule.replace(/\s/g,'') + color.replace('#','')).attr('style', 'color: ' + color);
        if (jQuery().pulsate) {
            $('#div_' + titule.replace(/\s/g,'') + color.replace('#','')).pulsate({
                color: color,
                speed: 600
            });
        }
    };
</script>
</body>
</html>