<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="common :: head"></th:block> /*/-->
    <link rel="stylesheet" th:href="@{/css/wizard/wizard.css}" type="text/css"/>
    <link th:href="@{/vendors/general/sweetalert2/dist/sweetalert2.min.css}" type="text/css"/>

    <link th:href="@{/css/flowcharts/jquery.flowchart.css}" rel="stylesheet" type="text/css">
    <style>
        .flowchart-operator {
            background-color: white;
        }

        .flowchart-operator-connector-label {
            font-size: 8px;
            font-weight: 600;
        }

        .container-flowchart {
            height: 300px;
            margin-bottom: 10px;
            background-color: #fafafa;
        }

        .flowchart-operator.flowchart-operator-inputs-outputs {
            padding-bottom: 0px;
            padding-top: 0px;
            margin-bottom: 0px !important;
            margin-top: 0px !important;
        }

        .flowchart-operator-title {
            font-size: 13px;
            font-weight: 600;
            background-color: #ebf1fd;
            color: #591df1;
        }
    </style>
</head>

<body class="kt-page--fluid kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent">

<div th:replace="common :: header"></div>

<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="padding: 10px 0 !important;">
                            <div class="kt-subheader__main">
                                <span class="kt-subheader__separator kt-hidden"></span>
                                <div class="kt-subheader__breadcrumbs">
                                    <a class="kt-subheader__breadcrumbs-home" th:href="@{/}"><i
                                            class="flaticon2-shelter"></i></a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span>
                                    <!--<a href="" class="kt-subheader__breadcrumbs-link">
                                        Cuenta </a>-->

                                    <a class="kt-subheader__breadcrumbs-link" th:href="@{/indicators/businesstree}">Indicador
                                        Business Tree</a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span>
                                    <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Configuración</span>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Subheader -->

                        <!--Begin::  Content-->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
                            <div class="kt-portlet">
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    <div class="kt-grid kt-wizard-v3 kt-wizard-v3--white" data-ktwizard-state="first"
                                         id="kt_wizard_tree">
                                        <div class="kt-grid__item">

                                            <!--begin: Form Wizard Nav -->
                                            <div class="kt-wizard-v3__nav">
                                                <div class="kt-wizard-v3__nav-items">
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="current"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 50%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>1</span> Configuración de Business Tree
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                    <span class="kt-wizard-v3__nav-item" data-ktwizard-state="pending"
                                                          data-ktwizard-type="step" href="#"
                                                          style="flex: 0 0 50%;">
                                                        <div class="kt-wizard-v3__nav-body">
                                                            <div class="kt-wizard-v3__nav-label">
                                                                <span>3</span> Resumen y guardar
                                                            </div>
                                                            <div class="kt-wizard-v3__nav-bar"></div>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>

                                            <!--end: Form Wizard Nav -->
                                        </div>
                                        <input id="organization" type="text" hidden
                                               th:value="${dataintegration.organization}">
                                        <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">

                                            <!--begin: Form Wizard Form-->
                                            <form class="kt-form col-11" id="kt_form_tree" novalidate="novalidate">

                                                <!--begin: Form Wizard Step 1-->
                                                <div class="kt-wizard-v3__content" data-ktwizard-state="current"
                                                     style="padding-bottom: 0 !important"
                                                     data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Configura el árbol decisional
                                                        para el indicador <strong
                                                                class="text-success">Business Tree</strong>:
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__form">
                                                            <div class="row">
                                                                <label>Debe ingresar los nodos necesarios, como mínimo
                                                                    debe existir un nodo inicial con dos salidas del
                                                                    flujo:</label>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <div class="container-flowchart"
                                                                             id="tree"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 col-lg-5">
                                                                    <div class="form-group">
                                                                        <button class="btn btn-success col-12"
                                                                                data-toggle="modal"
                                                                                data-target="#modal_add_node">
                                                                            Agregar nodo
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-lg-5">
                                                                    <div class="form-group">
                                                                        <button class="btn btn-info col-12"
                                                                                data-toggle="modal"
                                                                                data-target="#modal_add_output">Agregar
                                                                            salida
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-lg-2">
                                                                    <div class="form-group">
                                                                        <button class="btn btn-outline-danger col-12"
                                                                                id="delete_selected_button">Eliminar
                                                                            nodo
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end: Form Wizard Step 1-->

                                                <!--begin: Form Wizard Step 5-->
                                                <div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
                                                    <div class="kt-heading kt-heading--md">Resumen de los detalles y
                                                        guardar
                                                    </div>
                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v3__review">
                                                            <div class="kt-wizard-v3__review-item">
                                                                <div class="kt-wizard-v3__review-title">
                                                                    --
                                                                </div>
                                                                <div class="kt-wizard-v3__review-content">
                                                                    <div class="col-lg-12">
                                                                        <div class="kt-portlet kt-portlet--skin-solid kt-portlet--"
                                                                             id="content_background_ratio1">
                                                                            <div class="kt-portlet__head">
                                                                                <div class="kt-portlet__head-label">
                                                                                    --
                                                                                </div>
                                                                            </div>
                                                                            <div class="kt-portlet__body">
                                                                                --
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end: Form Wizard Step 5-->

                                                <!--begin: Form Actions -->
                                                <div class="kt-form__actions">
                                                    <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                         data-ktwizard-type="action-prev">
                                                        Atrás
                                                    </div>
                                                    <div class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                         data-ktwizard-type="action-submit">
                                                        Guardar
                                                    </div>
                                                    <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                         data-ktwizard-type="action-next">
                                                        Siguiente
                                                    </div>
                                                </div>
                                                <!--end: Form Actions -->
                                            </form>
                                            <!--end: Form Wizard Form-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End::  Content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Node-->
<div class="modal fade" id="modal_add_node" tabindex="-1" role="dialog" aria-labelledby="modal_add_node"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <form id="form_add_node" class="col-12">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Agregar nodo al árbol decisional</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Variable:</label>
                                <select class="form-control" id="tree_variable"
                                        name="tree_variable">
                                    <option th:each="variable : ${dataintegration.variableCollection}"
                                            th:text="${variable.name}"
                                            th:value="${variable.code}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>Comparador:</label>
                                <select class="form-control" id="tree_comparator"
                                        name="tree_comparator">
                                    <option value=">=">>=</option>
                                    <option value=">">></option>
                                    <option value="<="><=</option>
                                    <option value="<"><</option>
                                    <option value="==">==</option>
                                    <option value="!=">!=</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Valor a comparar:</label>
                                <input class="form-control"
                                       id="tree_value_comparator"
                                       name="tree_value_comparator"
                                       placeholder="Valor a comparar"
                                       type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                    <button type="button" class="btn btn-primary" id="create_node">Agregar nodo</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Add Node-->
<div class="modal fade" id="modal_add_output" tabindex="-1" role="dialog" aria-labelledby="modal_add_output"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <form id="form_add_output" class="col-12">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar salida de flujo al árbol decisional</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label>Texto de la salida del flujo:</label>
                                <input class="form-control"
                                       id="tree_label_output"
                                       name="tree_label_output"
                                       placeholder="Texto de la salida"
                                       type="text">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Color de la salida del flujo:</label>
                                <input class="form-control"
                                       type="color"
                                       value="#ac1dcd" name="tree_color_output" id="tree_color_output">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                    <button type="button" class="btn btn-primary" id="create_output">Agregar salida</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="common :: footer"></div>
<!--/*/ <th:block th:include="common :: scripts"></th:block> /*/-->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script th:src="@{/js/colourbrightness/jquery.colourbrightness.min.js}"></script>
<script th:src="@{/js/flowcharts/jquery.flowchart.js}" type="text/javascript"></script>
<script th:src="@{/js/custom/indicator_tree-setting.js}" type="text/javascript"></script>


</body>
</html>