<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <!--/*/ <th:block th:include="common :: head"></th:block> /*/-->
</head>

<body class="kt-page--fluid kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent">

<div th:replace="common :: header"></div>

<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="padding: 10px 0 !important;">
                            <div class="kt-subheader__main">
                                <span class="kt-subheader__separator kt-hidden"></span>
                                <div class="kt-subheader__breadcrumbs">
                                    <a class="kt-subheader__breadcrumbs-home" th:href="@{/}">
                                        <i class="flaticon2-shelter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Subheader -->
                        <!--Begin::  Content-->
                        <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content"
                             style="margin-bottom: 50px;">
                            <div class="row" id="row_analysis">
                                <div class="col-xl-12">
                                    <div class="kt-portlet">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title"
                                                    th:if="${dataintegration == null or riskscore == null or riskratio == null or businesstree == null}">
                                                    Detalles de la
                                                    configuración de actual:
                                                    <small>Descripción de las configuraciones actuales del
                                                        sistema</small>
                                                </h3>
                                                <h3 class="kt-portlet__head-title"
                                                    th:if="${dataintegration != null and riskscore != null and riskratio != null and businesstree != null}">
                                                    Análisis
                                                    <small>Realiza un análisis financiero</small>
                                                </h3>
                                            </div>
                                        </div>
                                        <!--/*@thymesVar id="organization" type="java.lang.Long"*/-->
                                        <input id="organization" type="text" hidden
                                               th:value="${dataintegration != null ? dataintegration.organization : ''}">
                                        <!--/*@thymesVar id="bureau" type="java.lang.Boolean"*/-->
                                        <form class="kt-form" id="kt_form_excel"
                                              th:if="${dataintegration != null and dataintegration.bureau == false and riskscore != null and riskratio != null and businesstree != null}">
                                            <div class="kt-portlet__body">
                                                <div class="kt-section kt-section--first">
                                                    <div class="kt-section__body">
                                                        <div class="row">
                                                            <div class="col-12"
                                                                 style="margin-bottom: 30px;margin-top: 30px;">
                                                                <h2 class="text-center">Análisis de riesgo
                                                                    financiero</h2>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-0 col-lg-3"></div>
                                                            <div class="col-md-12 col-lg-6">
                                                                <div class="form-group row">
                                                                    <div class="col-12" style="margin-bottom: 10px;">
                                                                        <label class="text-center">Ingresa
                                                                            el archivo con la información necesaria para
                                                                            realizar el análisis:</label>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="custom-file">
                                                                            <input class="custom-file-input"
                                                                                   id="analysis_file"
                                                                                   name="file"
                                                                                   type="file">
                                                                            <label class="custom-file-label">Ningún
                                                                                archivo seleccionado</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12" style="margin-top: 5px;">
                                                                        <a class="text-info text-sm float-right"
                                                                           th:href="@{/}">
                                                                            ¿Desea descargar el archivo de plantilla?
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-portlet__foot">
                                                <div class="kt-form__actions kt-form__actions--center">
                                                    <button class="btn btn-success" id="btn_submit_analysis_excel"
                                                            type="button">
                                                        Realizar análisis de riesgo financiero
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/*@thymesVar id="bureau" type="java.lang.Boolean"*/-->
                                        <form class="kt-form" id="kt_form_bureau"
                                              th:if="${dataintegration != null and dataintegration.bureau == true and riskscore != null and riskratio != null and businesstree != null}">
                                            <div class="kt-portlet__body">
                                                <div class="kt-section kt-section--first">
                                                    <div class="kt-section__body">
                                                        <div class="row">
                                                            <div class="col-12" style="margin-bottom: 30px;">
                                                                <h2 class="text-center">Análisis de riesgo
                                                                    financiero</h2>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-md-12 offset-lg-4 col-lg-4">
                                                                <label class="col-12"
                                                                       style="margin-bottom: 10px;">Por favor,
                                                                    ingrese
                                                                    el rut de la persona a
                                                                    consultar:</label>
                                                                <div class="col-12">
                                                                    <input class="form-control"
                                                                           placeholder="Rut del consultado"
                                                                           type="text" id="bureau_rut">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-portlet__foot">
                                                    <div class="kt-form__actions kt-form__actions--center">
                                                        <button class="btn btn-success" id="btn_submit_analysis_bureau"
                                                                type="button">
                                                            Realizar análisis de riesgo financiero
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="kt-portlet__body">
                                            <div class="kt-section kt-section--first">
                                                <div class="kt-section__body">
                                                    <div class="col-12">
                                                        <div class="col-12 alert alert-outline-danger"
                                                             role="alert" th:if="${dataintegration == null}">
                                                            <h4>
                                                                <strong style="margin-right: 8px;">Problemas!</strong>No
                                                                podrás realizar análisis de riesgo mientras el
                                                                <strong>Data Integration y todos los
                                                                    indicadores</strong> sean configurados.
                                                            </h4>
                                                        </div>
                                                        <div th:if="${dataintegration != null and (riskscore == null or riskratio == null or businesstree == null)}">
                                                            <div class="col-12">
                                                                <div class="form-group"><h4 class="text-danger">
                                                                    <strong style="margin-right: 8px;">Problemas!</strong>No
                                                                    podrás realizar análisis de riesgo mientras el
                                                                    <strong>todos los
                                                                        indicadores</strong> sean configurados.
                                                                </h4></div>
                                                            </div>
                                                            <div class="col-12"
                                                                 th:if="${dataintegration != null and riskscore == null}">
                                                                <div class="form-group col-12 alert alert-danger"
                                                                     role="alert">
                                                                    <label>
                                                                        <strong style="margin-right: 8px;">Cuidado!</strong>
                                                                        Actualmente no está configurado el <strong>indicador
                                                                        Risk Score</strong>. Por favor ir a
                                                                        Indicadores > Risk Score >
                                                                        <strong>
                                                                            <a style="color: #ffffff;"
                                                                               th:href="@{/indicators/riskscore/setting}">Nueva
                                                                                configuración</a>
                                                                        </strong>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12"
                                                                 th:if="${dataintegration != null and riskratio == null}">
                                                                <div class="form-group col-12 alert alert-danger"
                                                                     role="alert">
                                                                    <label>
                                                                        <strong style="margin-right: 8px;">Cuidado!</strong>
                                                                        Actualmente no está configurado el <strong>indicador
                                                                        Risk Ratios</strong>. Por favor ir a
                                                                        Indicadores > Risk Ratios >
                                                                        <strong>
                                                                            <a style="color: #ffffff;"
                                                                               th:href="@{/indicators/riskratios/setting}">Nueva
                                                                                configuración</a>
                                                                        </strong>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12"
                                                                 th:if="${dataintegration != null and businesstree == null}">
                                                                <div class="form-group col-12 alert alert-danger"
                                                                     role="alert">
                                                                    <label>
                                                                        <strong style="margin-right: 8px;">Cuidado!</strong>
                                                                        Actualmente no está configurado el <strong>indicador
                                                                        Business Tree</strong>. Por favor ir a
                                                                        Indicadores > Business Tree >
                                                                        <strong>
                                                                            <a style="color: #ffffff;"
                                                                               th:href="@{/indicators/businesstree/setting}">Nueva
                                                                                configuración</a>
                                                                        </strong>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row" id="row_dashboard_analysis" hidden>
                                <div class="col-xl-12">
                                    <div class="kt-portlet">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">Resultado análisis de riesgo
                                                    financiero
                                                    <small>Dashboard con los indicadores financieros</small>
                                                </h3>
                                            </div>
                                        </div>
                                        <form class="kt-form">
                                            <div class="kt-portlet__body">
                                                <div class="kt-section kt-section--first">
                                                    <div class="kt-section__body">
                                                        <div class="row">
                                                            <div class="col-12"
                                                                 style="margin-bottom: 30px;margin-top: 30px;">
                                                                <h2 class="text-center">Indicador Risk Ratios</h2>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="kt-portlet kt-portlet--skin-solid kt-portlet--"
                                                                     id="background_ratio1">
                                                                    <div class="kt-portlet__head">
                                                                        <div class="kt-portlet__head-label">
                                                                            <span class="kt-portlet__head-icon">
                                                                                <i class="flaticon-star"></i>
                                                                            </span>
                                                                            <h1 class="kt-portlet__head-title"
                                                                                style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                                                                                id="titule_ratio1">
                                                                            </h1>
                                                                        </div>
                                                                    </div>
                                                                    <div class="kt-portlet__body">
                                                                        <h1 class="text-right" id="result_ratio1"
                                                                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                                            --</h1>
                                                                        <small id="operation_ratio1">--</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="kt-portlet kt-portlet--skin-solid kt-portlet--"
                                                                     id="background_ratio2">
                                                                    <div class="kt-portlet__head">
                                                                        <div class="kt-portlet__head-label">
                                                                            <span class="kt-portlet__head-icon">
                                                                                <i class="flaticon-star"></i>
                                                                            </span>
                                                                            <h1 class="kt-portlet__head-title"
                                                                                style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                                                                                id="titule_ratio2">
                                                                            </h1>
                                                                        </div>
                                                                    </div>
                                                                    <div class="kt-portlet__body">
                                                                        <h1 class="text-right" id="result_ratio2"
                                                                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                                            --</h1>
                                                                        <small id="operation_ratio2">--</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="kt-portlet kt-portlet--skin-solid kt-portlet--"
                                                                     id="background_ratio3">
                                                                    <div class="kt-portlet__head">
                                                                        <div class="kt-portlet__head-label">
                                                                            <span class="kt-portlet__head-icon">
                                                                                <i class="flaticon-star"></i>
                                                                            </span>
                                                                            <h1 class="kt-portlet__head-title"
                                                                                style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                                                                                id="titule_ratio3">
                                                                            </h1>
                                                                        </div>
                                                                    </div>
                                                                    <div class="kt-portlet__body">
                                                                        <h1 class="text-right" id="result_ratio3"
                                                                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                                            --</h1>
                                                                        <small id="operation_ratio3">--</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="kt-portlet kt-portlet--skin-solid kt-portlet--"
                                                                     id="background_ratio4">
                                                                    <div class="kt-portlet__head">
                                                                        <div class="kt-portlet__head-label">
                                                                            <span class="kt-portlet__head-icon">
                                                                                <i class="flaticon-star"></i>
                                                                            </span>
                                                                            <h1 class="kt-portlet__head-title"
                                                                                style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                                                                                id="titule_ratio4">
                                                                            </h1>
                                                                        </div>
                                                                    </div>
                                                                    <div class="kt-portlet__body">
                                                                        <h1 class="text-right" id="result_ratio4"
                                                                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                                            --</h1>
                                                                        <small id="operation_ratio4">--</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 col-lg-6">
                                                                <div class="col-12"
                                                                     style="margin-bottom: 30px;margin-top: 30px;">
                                                                    <h2 class="text-center">Indicador Risk Score</h2>
                                                                </div>
                                                                <div class="kt-portlet"
                                                                     id="content_output_tree">
                                                                    <div class="kt-portlet__body">
                                                                        <div class="outer">
                                                                            <div class="chart-container"
                                                                                 id="content_score_graphic"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-lg-6">
                                                                <div class="col-12"
                                                                     style="margin-bottom: 30px;margin-top: 30px;">
                                                                    <h2 class="text-center">Indicador Business Tree</h2>
                                                                </div>
                                                                <div id="output_tree">
                                                                    <div id="graphic_neuro"></div>
                                                                    <div class="kt-portlet"
                                                                         style="margin-top: 50px;">
                                                                        <div class="kt-portlet__body">
                                                                            <h1 class="text-center kt-font-bolder"
                                                                                id="content_label_tree"
                                                                                style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"></h1>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="kt-portlet__foot">
                                                        <div class="kt-form__actions">
                                                            <button class="btn btn-outline-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                                                    id="btn_back_analysis"
                                                                    type="reset">
                                                                Atrás
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--End::  Content-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="http://localhost:8088/api/artemisa/dataintegration/26/downloadFile">Descargar archivo</a>
<div th:replace="common :: footer"></div>

<!--/*/ <th:block th:include="common :: scripts"></th:block> /*/-->
<script th:src="@{/vendors/general/jquery.pulsate/jquery.pulsate.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/waypoints/lib/jquery.waypoints.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/counterup/jquery.counterup.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/highcharts/highcharts.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/highcharts/highcharts-more.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/highcharts/modules/solid-gauge.js}" type="text/javascript"></script>
<script src="https://code.highcharts.com/modules/networkgraph.js"></script>
<script th:src="@{/js/custom/analysis.js}" type="text/javascript"></script>
</body>
</html>