<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <!--/*/ <th:block th:include="common :: head"></th:block> /*/-->
</head>

<body class="kt-page--fluid kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent">

<div th:replace="common :: header"></div>

<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="padding: 10px 0 !important;">
                            <div class="kt-subheader__main">
                                <span class="kt-subheader__separator kt-hidden"></span>
                                <div class="kt-subheader__breadcrumbs">
                                    <a class="kt-subheader__breadcrumbs-home" th:href="@{/}">
                                        <i class="flaticon2-shelter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Subheader -->
                        <!--Begin::  Content-->
                        <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content"
                             style="margin-bottom: 50px;">
                            <div class="row" id="row_analysis">
                                <div class="col-xl-12">
                                    <div class="kt-portlet">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">Análisis
                                                    <small>--</small>
                                                </h3>
                                            </div>
                                        </div>
                                        <input id="organization" type="text" hidden th:value="${id_organization}">
                                        <form class="kt-form"
                                              th:if="${dataintegration != null and dataintegration.bureau == false}">
                                            <div class="kt-portlet__body">
                                                <div class="kt-section kt-section--first">
                                                    <div class="kt-section__body">
                                                        <div class="row">
                                                            <div class="col-12"
                                                                 style="margin-bottom: 50px;margin-top: 50px;">
                                                                <h2 class="text-center">Análisis de riesgo
                                                                    financiero</h2>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-0 col-lg-3"></div>
                                                            <div class="col-md-12 col-lg-6">
                                                                <div class="form-group row">
                                                                    <div class="col-12" style="margin-bottom: 10px;">
                                                                        <label class="text-center">Ingresa
                                                                            el archivo con la información necesaria para
                                                                            realizar el análisis:</label>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="custom-file">
                                                                            <input class="custom-file-input"
                                                                                   id="analysis_file"
                                                                                   name="file"
                                                                                   type="file">
                                                                            <label class="custom-file-label">Ningún
                                                                                archivo seleccionado</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12" style="margin-top: 5px;">
                                                                        <a class="text-info text-sm float-right"
                                                                           th:href="@{/}">
                                                                            ¿Desea descargar el archivo de plantilla?
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-portlet__foot">
                                                <div class="kt-form__actions kt-form__actions--center">
                                                    <button class="btn btn-success" id="btn_submit_analysis_excel" type="button">
                                                        Realizar análisis de
                                                        riesgo
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <form class="kt-form"
                                              th:if="${dataintegration != null and dataintegration.bureau == true}">
                                            <div class="kt-portlet__body">
                                                <div class="kt-section kt-section--first">
                                                    <div class="kt-section__body">
                                                        <div class="row">
                                                            <div class="col-12" style="margin-bottom: 30px;">
                                                                <h2 class="text-center">Análisis de riesgo
                                                                    financiero</h2>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-md-12 offset-lg-4 col-lg-4">
                                                                <label class="col-12"
                                                                       style="margin-bottom: 10px;">Por favor,
                                                                    ingrese
                                                                    el rut de la persona a
                                                                    consultar:</label>
                                                                <div class="col-12">
                                                                    <input class="form-control"
                                                                           placeholder="Rut del consultado"
                                                                           type="text" id="bureau_rut">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-portlet__foot">
                                                    <div class="kt-form__actions kt-form__actions--center">
                                                        <button class="btn btn-success" id="btn_submit_analysis_bureau"  type="button">
                                                            Realizar análisis de
                                                            riesgo
                                                        </button>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="row_dashboard_analysis">
                                <div class="col-xl-12">
                                    <div class="kt-portlet">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">Resultado de análisis
                                                    <small>--</small>
                                                </h3>
                                            </div>
                                        </div>
                                        <form class="kt-form">
                                            <div class="kt-portlet__body">
                                                <div class="kt-section kt-section--first">
                                                    <div class="kt-section__body">
                                                        <div class="row">
                                                            <div class="col-12"
                                                                 style="margin-bottom: 50px;margin-top: 50px;">
                                                                <h2 class="text-center">Resultado análisis de riesgo
                                                                    financiero</h2>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="row" th:if="${dataintegration == null}">
                                        <div class="col-12">
                                            <div class="col-12 alert alert-outline-danger"
                                                 role="alert">
                                                <label>
                                                    <strong style="margin-right: 8px;">Problemas!</strong>No
                                                    podrás realizar análisis de riesgo mientras el
                                                    <strong>Data Integration y todos los
                                                        indicadores</strong> sean configurados.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="col-12">
                                                <h3 class="kt-portlet__head-title">
                                                    <small>Detalles:</small>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="col-12 alert alert-success" role="alert">
                                                <label>
                                                    <strong style="margin-right: 8px;">Genial!</strong>Actualmente
                                                    esta activa una configuración de <strong>Data
                                                    Integration a
                                                    través de Bureau</strong>.
                                                </label>
                                            </div>
                                            <div class="col-12 alert alert-warning" role="alert">
                                                <label>
                                                    <strong style="margin-right: 8px;">Cuidado!</strong>
                                                    Actualmente no está configurado el <strong>indicador
                                                    Risk Score</strong>. Por favor dirigase a
                                                    Indicadores > Risk Score >
                                                    <strong>
                                                        <a style="color: #ffffff;"
                                                           th:href="@{/indicators/score/setting}">Nueva
                                                            configuración</a>
                                                    </strong>
                                                </label>
                                            </div>
                                            <div class="col-12 alert alert-warning" role="alert">
                                                <label>
                                                    <strong style="margin-right: 8px;">Cuidado!</strong>
                                                    Actualmente no está configurado el <strong>indicador
                                                    Risk Ratios</strong>. Por favor dirigase a
                                                    Indicadores > Risk Ratios >
                                                    <strong>
                                                        <a style="color: #ffffff;"
                                                           th:href="@{/indicators/ratios/setting}">Nueva
                                                            configuración</a>
                                                    </strong>
                                                </label>
                                            </div>
                                            <div class="col-12 alert alert-warning" role="alert">
                                                <label>
                                                    <strong style="margin-right: 8px;">Cuidado!</strong>Actualmente
                                                    no está configurado el <strong>indicador
                                                    Business
                                                    Tree</strong>. Por favor dirigase a Indicadores
                                                    > Business Tree >
                                                    <strong>
                                                        <a style="color: #ffffff;"
                                                           th:href="@{/indicators/tree/setting}">Nueva
                                                            configuración</a>
                                                    </strong>
                                                </label>
                                            </div>
                                        </div>
                                        <!--
                                        <div class="kt-portlet__foot">
                                            <div class="kt-form__actions">
                                            </div>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                            <!--End::  Content-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common :: footer"></div>

<!--/*/ <th:block th:include="common :: scripts"></th:block> /*/-->
<script th:src="@{/js/analysis/analysis.js}"
        type="text/javascript"></script>
</body>
</html>