<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <!--/*/ <th:block th:include="fragments/common :: head"></th:block> /*/-->
</head>

<body class="kt-page--fluid kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent">

<div th:replace="fragments/common :: header"></div>

<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader" style="padding: 10px 0 !important;">
                            <div class="kt-subheader__main">
                                <span class="kt-subheader__separator kt-hidden"></span>
                                <div class="kt-subheader__breadcrumbs">
                                    <a th:href="@{/}" class="kt-subheader__breadcrumbs-home">
                                        <i class="flaticon2-shelter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Subheader -->


                        <!--Begin::  Content-->
                        <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content"
                             style="margin-bottom: 50px;">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="kt-portlet">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">Análisis
                                                    <small>Realiza un análisis de riesgo</small>
                                                </h3>
                                            </div>

                                        </div>
                                        <form class="kt-form kt-form--label-right">
                                            <div class="kt-portlet__body">
                                                <div class="kt-section kt-section--first">
                                                    <div class="kt-section__body">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="col-12 alert alert-outline-danger"
                                                                     role="alert">
                                                                    <label>
                                                                        <strong style="margin-right: 8px;">Problemas!</strong>No
                                                                        podrás realizar análisis de riesgo mientras el
                                                                        <strong>Data Integration y todos los
                                                                            indicadores</strong> sean configurados.
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="col-12">
                                                                    <h3 class="kt-portlet__head-title">
                                                                        <small>Detalles:</small>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="col-12 alert alert-success" role="alert">
                                                                    <label>
                                                                        <strong style="margin-right: 8px;">Genial!</strong>Actualmente
                                                                        esta activa una configuración de <strong>Data
                                                                        Integration a
                                                                        través de Bureau</strong>.
                                                                    </label>
                                                                </div>
                                                                <div class="col-12 alert alert-warning" role="alert">
                                                                    <label>
                                                                        <strong style="margin-right: 8px;">Cuidado!</strong>
                                                                        Actualmente no está configurado el <strong>indicador
                                                                        Risk Score</strong>. Por favor dirigase a
                                                                        Indicadores > Risk Score >
                                                                        <strong>
                                                                            <a th:href="@{/indicators/score/setting}"
                                                                               style="color: #ffffff;">Nueva configuración</a>
                                                                        </strong>
                                                                    </label>
                                                                </div>
                                                                <div class="col-12 alert alert-warning" role="alert">
                                                                    <label>
                                                                        <strong style="margin-right: 8px;">Cuidado!</strong>
                                                                        Actualmente no está configurado el <strong>indicador
                                                                        Ratios Risk</strong>. Por favor dirigase a
                                                                        Indicadores > Risk Ratios >
                                                                        <strong>
                                                                            <a th:href="@{/indicators/ratios/setting}"
                                                                               style="color: #ffffff;">Nueva configuración</a>
                                                                        </strong>
                                                                    </label>
                                                                </div>
                                                                <div class="col-12 alert alert-warning" role="alert">
                                                                    <label>
                                                                        <strong style="margin-right: 8px;">Cuidado!</strong>Actualmente
                                                                        no está configurado el <strong>indicador
                                                                        Business
                                                                        Tree</strong>. Por favor dirigase a Indicadores
                                                                        > Business Tree >
                                                                        <strong>
                                                                            <a th:href="@{/indicators/tree/setting}"
                                                                               style="color: #ffffff;">Nueva configuración</a>
                                                                        </strong>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--
                                            <div class="kt-portlet__foot">
                                                <div class="kt-form__actions">
                                                </div>
                                            </div>
                                            -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End::  Content-->

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div th:replace="fragments/common :: footer"></div>

<!--/*/ <th:block th:include="fragments/common :: scripts"></th:block> /*/-->

</body>
</html>