<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->
<head>

    <meta charset="utf-8"/>
    <meta name="google-site-verification" content="bwWMxQjqt20cC6ZklRhrh5cXmUNPgfORZydWT_6WB08"/>
    <title>GRisk | Dashboard</title>
    <meta name="description" content="GRisk Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Icon Skins-->
    <link th:href="@{/vendors/custom/vendors/flaticon/flaticon.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendors/custom/vendors/flaticon2/flaticon.css}" rel="stylesheet" type="text/css"/>

    <!--begin:: Global Mandatory Vendors -->
    <link th:href="@{/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css}" rel="stylesheet" type="text/css"/>

    <!--end:: Global Mandatory Vendors -->

    <!--begin:: Global Optional Vendors -->
    <link th:href="@{/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/vendors/general/animate.css/animate.css}" rel="stylesheet" type="text/css"/>

    <!--end:: Global Optional Vendors -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link th:href="@{/dashboard/css/style.bundle.css}" rel="stylesheet" type="text/css"/>

    <!--end::Global Theme Styles -->


    <!--end::Icon Skins -->
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body class="kt-page--loading-enabled kt-page--loading kt-page--fluid kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">

<!-- begin::Page loader -->

<!-- end::Page Loader -->

<!-- begin:: Page -->

<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo">
        <a th:href="@{/}">
            <img alt="GRisk" th:src="@{/images/grisk.png}">
        </a>
    </div>
    <div class="kt-header-mobile__toolbar">
        <!--begin: User bar -->
        <div class="kt-header__topbar-item kt-header__topbar-item--user" style="margin-left: 10px;cursor: pointer;">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bolder"
                      th:text="${session.role}"
                      style="margin-left: 15px;"
                      th:styleappend="${session.role != null and session.role == 'Administrador'}?'width:110px;color: #1930d2;background: rgba(29, 76, 201, 0.49);;':'width:80px;'"></span>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                <!--begin: Head -->
                <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                    <div class="kt-user-card__avatar">
                        <!--                                        <img class="kt-hidden-" alt="Avatar"-->
                        <!--                                             th:src="@{/images/user-predeterminate.jpg}"/>-->
                        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                        <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bolder"
                              th:text="${session.role != null and session.role == 'Administrador'}?'A':'B'"
                              style="font-size: 1.3rem;"
                              th:styleappend="${session.role != null and session.role == 'Administrador'}?'color: #1930d2;background: rgba(29, 76, 201, 0.49);;':''"></span>
                    </div>
                    <div class="kt-user-card__name">
                        <label th:text="${session.username != null}?${session.username}:'xxxxx'"></label>
                    </div>
                </div>

                <!--end: Head -->

                <!--begin: Navigation -->
                <div class="kt-notification">
                    <a th:href="@{/account}" class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon2-calendar-3 kt-font-success"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                Mi perfil
                            </div>
                            <div class="kt-notification__item-time">
                                Configuración de cuenta
                            </div>
                        </div>
                    </a>
                    <div class="kt-notification__custom kt-space-between">
                        <a th:href="@{/logout}" target="_blank"
                           class="btn btn-label btn-label-brand btn-sm btn-bold"><i
                                class="flaticon-logout"></i> Cerrar sesión</a>
                    </div>
                </div>

                <!--end: Navigation -->
            </div>
        </div>

        <!--end: User bar -->
        <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>

    </div>
</div>

<!-- end:: Header Mobile -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

            <!-- begin:: Header -->
            <div id="kt_header" class="kt-header  kt-header--fixed " data-ktheader-minimize="on">
                <div class="kt-container kt-container--fluid">

                    <!-- begin:: Brand -->
                    <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
                        <a th:href="@{/}">
                            <img alt="GRisk" th:src="@{/images/grisk.png}">
                        </a>
                    </div>
                    <!-- end:: Brand -->
                    <!-- begin: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn">
                        <i class="la la-close"></i>
                    </button>
                    <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
                            <ul class="kt-menu__nav ">
                                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel  kt-menu__item--open kt-menu__item--here" aria-haspopup="false">
                                    <a th:href="@{/analysis}" class="kt-menu__link kt-menu__toggle">
                                        <span class="kt-menu__link-text">Análisis</span>
                                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                                    </a>
                                </li>
                                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel"
                                    data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a href="javascript:;"
                                                                                               class="kt-menu__link kt-menu__toggle"><span
                                        class="kt-menu__link-text">Usuarios</span><i
                                        class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                    <div class="kt-menu__submenu  kt-menu__submenu--fixed kt-menu__submenu--left"
                                         style="width:250px">
                                        <div class="kt-menu__subnav">
                                            <ul class="kt-menu__content">
                                                <li class="kt-menu__item ">
                                                    <h3 class="kt-menu__heading kt-menu__toggle">
                                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                                        <span class="kt-menu__link-text">Gestión de usuarios</span>
                                                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                                                    </h3>
                                                    <ul class="kt-menu__inner">
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <a href="#" class="kt-menu__link ">
                                                                <i class="kt-menu__link-icon flaticon-map"></i>
                                                                <span class="kt-menu__link-text">Crear un usuario</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <a href="#" class="kt-menu__link ">
                                                                <i class="kt-menu__link-icon flaticon-map"></i>
                                                                <span class="kt-menu__link-text">Editar un usuario</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <a href="#" class="kt-menu__link ">
                                                                <i class="kt-menu__link-icon flaticon-map"></i>
                                                                <span class="kt-menu__link-text">Eliminar, bloquear o desbloquear usuarios</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel"
                                    data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                        <span class="kt-menu__link-text">Data Integration</span>
                                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                                    </a>
                                    <div class="kt-menu__submenu  kt-menu__submenu--fixed"
                                         style="width:350px">
                                        <div class="kt-menu__subnav">
                                            <ul class="kt-menu__content">
                                                <li class="kt-menu__item ">
                                                    <h3 class="kt-menu__heading kt-menu__toggle">
                                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                                        <span class="kt-menu__link-text">Configuración del tipo de Data Integration</span>
                                                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                                                    </h3>
                                                    <ul class="kt-menu__inner">
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <a href="#" class="kt-menu__link ">
                                                                <i class="kt-menu__link-icon flaticon-map"></i>
                                                                <span class="kt-menu__link-text">Data Integration por Excel</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <a href="#" class="kt-menu__link ">
                                                                <i class="kt-menu__link-icon flaticon-map"></i>
                                                                <span class="kt-menu__link-text">Data Integration por API Bureau</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel"
                                    data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                        <span class="kt-menu__link-text">Indicadores</span>
                                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                                    </a>
                                    <div class="kt-menu__submenu  kt-menu__submenu--fixed"
                                         style="width:350px">
                                        <div class="kt-menu__subnav">
                                            <ul class="kt-menu__content">
                                                <li class="kt-menu__item ">
                                                    <h3 class="kt-menu__heading kt-menu__toggle">
                                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
                                                        <span class="kt-menu__link-text">Configuración de indicadores</span>
                                                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                                                    </h3>
                                                    <ul class="kt-menu__inner">
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <a href="#" class="kt-menu__link ">
                                                                <i class="kt-menu__link-icon flaticon-map"></i>
                                                                <span class="kt-menu__link-text">Score Risk</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <a href="#" class="kt-menu__link ">
                                                                <i class="kt-menu__link-icon flaticon-map"></i>
                                                                <span class="kt-menu__link-text">Ratios Risk</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <a href="#" class="kt-menu__link ">
                                                                <i class="kt-menu__link-icon flaticon-map"></i>
                                                                <span class="kt-menu__link-text">Business Tree</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- end: Header Menu -->


                    <!-- begin:: Header Topbar -->
                    <div class="kt-header__topbar kt-grid__item">

                        <!--begin: User bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--user">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                                <span class="kt-header__topbar-welcome  kt-visible-tablet  kt-visible-desktop">Hola, </span>
                                <span class="kt-header__topbar-username kt-visible-tablet  kt-visible-desktop"
                                      th:text="${session.username}"></span>
                                <!--                                <img alt="Avatar" th:src="@{/images/user-predeterminate.jpg}"/>-->

                                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bolder"
                                      th:text="${session.role}"
                                      style="margin-left: 15px;"
                                      th:styleappend="${session.role != null and session.role == 'Administrador'}?'width:110px;color: #1930d2;background: rgba(29, 76, 201, 0.49);;':'width:80px;'"></span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                                <!--begin: Head -->
                                <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                                    <div class="kt-user-card__avatar">
                                        <!--                                        <img class="kt-hidden-" alt="Avatar"-->
                                        <!--                                             th:src="@{/images/user-predeterminate.jpg}"/>-->
                                        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                        <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bolder"
                                              th:text="${session.role != null and session.role == 'Administrador'}?'A':'B'"
                                              style="font-size: 1.3rem;"
                                              th:styleappend="${session.role != null and session.role == 'Administrador'}?'color: #1930d2;background: rgba(29, 76, 201, 0.49);;':''"></span>
                                    </div>
                                    <div class="kt-user-card__name">
                                        <label th:text="${session.username != null}?${session.username}:'xxxxx'"></label>
                                    </div>
                                </div>

                                <!--end: Head -->

                                <!--begin: Navigation -->
                                <div class="kt-notification">
                                    <a th:href="@{/account}" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon2-calendar-3 kt-font-success"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title kt-font-bold">
                                                Mi perfil
                                            </div>
                                            <div class="kt-notification__item-time">
                                                Configuración de cuenta
                                            </div>
                                        </div>
                                    </a>
                                    <div class="kt-notification__custom kt-space-between">
                                        <a th:href="@{/logout}" target="_blank"
                                           class="btn btn-label btn-label-brand btn-sm btn-bold"><i
                                                class="flaticon-logout"></i> Cerrar sesión</a>
                                    </div>
                                </div>

                                <!--end: Navigation -->
                            </div>
                        </div>

                        <!--end: User bar -->
                    </div>

                    <!-- end:: Header Topbar -->
                </div>
            </div>

            <!-- end:: Header -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                            <div class="kt-subheader__main">
                                <div class="kt-subheader__breadcrumbs">
                                    <a th:href="@{/}" class="kt-subheader__breadcrumbs-home"><i
                                            class="flaticon2-shelter"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Subheader -->
                        <!-- begin:: Content -->
                        <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                            <!--Begin::Dashboard 1-->
                            <!--Begin::Section-->
                            <div class="row">
                                <div class="col-xl-4">
                                    <!--begin:: Widgets/Activity-->
                                    <div class="kt-portlet kt-portlet--fit kt-portlet--head-lg kt-portlet--head-overlay kt-portlet--skin-solid kt-portlet--height-fluid">
                                        <div class="kt-portlet__head kt-portlet__head--noborder kt-portlet__space-x">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">
                                                    Activity
                                                </h3>
                                            </div>
                                            <div class="kt-portlet__head-toolbar">
                                                <a href="#" class="btn btn-label-light btn-sm btn-bold dropdown-toggle"
                                                   data-toggle="dropdown">
                                                    Export
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
                                                    <ul class="kt-nav">
                                                        <li class="kt-nav__section kt-nav__section--first">
                                                            <span class="kt-nav__section-text">Finance</span>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon flaticon2-graph-1"></i>
                                                                <span class="kt-nav__link-text">Statistics</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                                                <span class="kt-nav__link-text">Events</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon flaticon2-layers-1"></i>
                                                                <span class="kt-nav__link-text">Reports</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__section kt-nav__section--first">
                                                            <span class="kt-nav__section-text">HR</span>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                                                <span class="kt-nav__link-text">Notifications</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon flaticon2-file-1"></i>
                                                                <span class="kt-nav__link-text">Files</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body kt-portlet__body--fit">
                                            <div class="kt-widget17">
                                                <div class="kt-widget17__visual kt-widget17__visual--chart kt-portlet-fit--top kt-portlet-fit--sides"
                                                     style="background-color: #fd397a">
                                                    <div class="kt-widget17__chart" style="height:320px;">
                                                        <canvas id="kt_chart_activities"></canvas>
                                                    </div>
                                                </div>
                                                <div class="kt-widget17__stats">
                                                    <div class="kt-widget17__items">
                                                        <div class="kt-widget17__item">
																	<span class="kt-widget17__icon">
																		<svg xmlns="http://www.w3.org/2000/svg"
                                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                             width="24px" height="24px"
                                                                             viewBox="0 0 24 24" version="1.1"
                                                                             class="kt-svg-icon kt-svg-icon--brand">
																			<g stroke="none" stroke-width="1"
                                                                               fill="none" fill-rule="evenodd">
																				<rect id="bound" x="0" y="0" width="24"
                                                                                      height="24"/>
																				<path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z"
                                                                                      id="Combined-Shape"
                                                                                      fill="#000000"/>
																				<rect id="Rectangle-Copy-2"
                                                                                      fill="#000000" opacity="0.3"
                                                                                      transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519) "
                                                                                      x="16.3255682" y="2.94551858"
                                                                                      width="3" height="18" rx="1"/>
																			</g>
																		</svg> </span>
                                                            <span class="kt-widget17__subtitle">
																		Delivered
																	</span>
                                                            <span class="kt-widget17__desc">
																		15 New Paskages
																	</span>
                                                        </div>
                                                        <div class="kt-widget17__item">
																	<span class="kt-widget17__icon">
																		<svg xmlns="http://www.w3.org/2000/svg"
                                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                             width="24px" height="24px"
                                                                             viewBox="0 0 24 24" version="1.1"
                                                                             class="kt-svg-icon kt-svg-icon--success">
																			<g stroke="none" stroke-width="1"
                                                                               fill="none" fill-rule="evenodd">
																				<polygon id="Bound"
                                                                                         points="0 0 24 0 24 24 0 24"/>
																				<path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                                                                                      id="Shape" fill="#000000"
                                                                                      fill-rule="nonzero"/>
																				<path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                                                                                      id="Path" fill="#000000"
                                                                                      opacity="0.3"/>
																			</g>
																		</svg> </span>
                                                            <span class="kt-widget17__subtitle">
																		Ordered
																	</span>
                                                            <span class="kt-widget17__desc">
																		72 New Items
																	</span>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget17__items">
                                                        <div class="kt-widget17__item">
																	<span class="kt-widget17__icon">
																		<svg xmlns="http://www.w3.org/2000/svg"
                                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                             width="24px" height="24px"
                                                                             viewBox="0 0 24 24" version="1.1"
                                                                             class="kt-svg-icon kt-svg-icon--warning">
																			<g stroke="none" stroke-width="1"
                                                                               fill="none" fill-rule="evenodd">
																				<rect id="bound" x="0" y="0" width="24"
                                                                                      height="24"/>
																				<path d="M12.7037037,14 L15.6666667,10 L13.4444444,10 L13.4444444,6 L9,12 L11.2222222,12 L11.2222222,14 L6,14 C5.44771525,14 5,13.5522847 5,13 L5,3 C5,2.44771525 5.44771525,2 6,2 L18,2 C18.5522847,2 19,2.44771525 19,3 L19,13 C19,13.5522847 18.5522847,14 18,14 L12.7037037,14 Z"
                                                                                      id="Combined-Shape" fill="#000000"
                                                                                      opacity="0.3"/>
																				<path d="M9.80428954,10.9142091 L9,12 L11.2222222,12 L11.2222222,16 L15.6666667,10 L15.4615385,10 L20.2072547,6.57253826 C20.4311176,6.4108595 20.7436609,6.46126971 20.9053396,6.68513259 C20.9668779,6.77033951 21,6.87277228 21,6.97787787 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6.97787787 C3,6.70173549 3.22385763,6.47787787 3.5,6.47787787 C3.60510559,6.47787787 3.70753836,6.51099993 3.79274528,6.57253826 L9.80428954,10.9142091 Z"
                                                                                      id="Combined-Shape"
                                                                                      fill="#000000"/>
																			</g>
																		</svg> </span>
                                                            <span class="kt-widget17__subtitle">
																		Reported
																	</span>
                                                            <span class="kt-widget17__desc">
																		72 Support Cases
																	</span>
                                                        </div>
                                                        <div class="kt-widget17__item">
																	<span class="kt-widget17__icon">
																		<svg xmlns="http://www.w3.org/2000/svg"
                                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                             width="24px" height="24px"
                                                                             viewBox="0 0 24 24" version="1.1"
                                                                             class="kt-svg-icon kt-svg-icon--danger">
																			<g stroke="none" stroke-width="1"
                                                                               fill="none" fill-rule="evenodd">
																				<rect id="bound" x="0" y="0" width="24"
                                                                                      height="24"/>
																				<path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
                                                                                      id="Combined-Shape" fill="#000000"
                                                                                      opacity="0.3"/>
																				<path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
                                                                                      id="Rectangle-102-Copy"
                                                                                      fill="#000000"/>
																			</g>
																		</svg> </span>
                                                            <span class="kt-widget17__subtitle">
																		Arrived
																	</span>
                                                            <span class="kt-widget17__desc">
																		34 Upgraded Boxes
																	</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end:: Widgets/Activity-->
                                </div>
                            </div>
                            <!--End::Section-->
                            <!--End::Dashboard 1-->
                        </div>
                        <!-- end:: Content -->
                    </div>
                </div>
            </div>

            <!-- begin:: Footer -->
            <div class="kt-footer kt-grid__item page-footer-fixed " id="kt_footer">
                <div class="kt-container">
                    <div class="kt-footer__bottom">
                        <div class="kt-footer__copyright">
                            2019&nbsp;&copy;&nbsp;GRisk
                        </div>
                        <div class="kt-footer__menu">
                            <label style="font-size: 10px;">Powered by </label>
                            <a href="http://www.pabloriosramirez.com" target="_blank" class="kt-link"
                               style="margin-left: 5px;color: #2b2a35">Pablo Ríos</a>
                            &nbsp;&
                            <a href="http://github.com/bastianoyarzun" target="_blank" class="kt-link"
                               style="margin-left: 5px;color: #2b2a35">Bastian Oyarzún</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end:: Footer -->
        </div>
    </div>
</div>

<!-- end:: Page -->

<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>
<!-- end::Scrolltop -->


<!--begin::Fonts -->
<script th:src="@{/login/js/webfont.js}" type="text/javascript"></script>
<script>
    WebFont.load({
        google: {
            "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
        },
        active: function () {
            sessionStorage.fonts = true;
        }
    });
</script>

<!--end::Fonts -->

<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#591df1",
                "light": "#ffffff",
                "dark": "#282a3c",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };
</script>

<!-- end::Global Config -->

<!--begin:: Global Mandatory Vendors -->
<script th:src="@{/vendors/general/jquery/dist/jquery.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/popper.js/dist/umd/popper.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/bootstrap/dist/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/js-cookie/src/js.cookie.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/moment/min/moment.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/tooltip.js/dist/umd/tooltip.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/sticky-js/dist/sticky.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/wnumb/wNumb.js}" type="text/javascript"></script>

<!--end:: Global Mandatory Vendors -->

<!--begin:: Global Optional Vendors -->
<script th:src="@{/vendors/general/jquery-form/dist/jquery.form.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/block-ui/jquery.blockUI.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"
        type="text/javascript"></script>
<script th:src="@{/vendors/custom/js/vendors/bootstrap-datepicker.init.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js}"
        type="text/javascript"></script>
<script th:src="@{/vendors/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js}"
        type="text/javascript"></script>
<script th:src="@{/vendors/custom/js/vendors/bootstrap-timepicker.init.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/bootstrap-daterangepicker/daterangepicker.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js}"
        type="text/javascript"></script>
<script th:src="@{/vendors/general/bootstrap-maxlength/src/bootstrap-maxlength.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/vendors/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js}"
        type="text/javascript"></script>
<script th:src="@{/vendors/general/bootstrap-select/dist/js/bootstrap-select.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/bootstrap-switch/dist/js/bootstrap-switch.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/js/vendors/bootstrap-switch.init.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/select2/dist/js/select2.full.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/ion-rangeslider/js/ion.rangeSlider.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/typeahead.js/dist/typeahead.bundle.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/handlebars/dist/handlebars.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/inputmask/dist/jquery.inputmask.bundle.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/inputmask/dist/inputmask/inputmask.date.extensions.js}"
        type="text/javascript"></script>
<script th:src="@{/vendors/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js}"
        type="text/javascript"></script>
<script th:src="@{/vendors/general/nouislider/distribute/nouislider.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/owl.carousel/dist/owl.carousel.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/autosize/dist/autosize.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/clipboard/dist/clipboard.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/dropzone/dist/dropzone.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/summernote/dist/summernote.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/markdown/lib/markdown.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/bootstrap-markdown/js/bootstrap-markdown.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/js/vendors/bootstrap-markdown.init.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/bootstrap-notify/bootstrap-notify.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/js/vendors/bootstrap-notify.init.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/jquery-validation/dist/jquery.validate.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/jquery-validation/dist/additional-methods.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/js/vendors/jquery-validation.init.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/toastr/build/toastr.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/raphael/raphael.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/morris.js/morris.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/chart.js/dist/Chart.bundle.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/vendors/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js}"
        type="text/javascript"></script>
<script th:src="@{/vendors/custom/vendors/jquery-idletimer/idle-timer.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/waypoints/lib/jquery.waypoints.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/counterup/jquery.counterup.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/es6-promise-polyfill/promise.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/sweetalert2/dist/sweetalert2.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/custom/js/vendors/sweetalert2.init.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/jquery.repeater/src/lib.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/jquery.repeater/src/jquery.input.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/jquery.repeater/src/repeater.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/dompurify/dist/purify.js}" type="text/javascript"></script>

<!--end:: Global Optional Vendors -->

<!--begin::Global Theme Bundle(used by all pages) -->
<script th:src="@{/dashboard/js/scripts.bundle.js}" type="text/javascript"></script>

<!--end::Global Theme Bundle -->

<!--begin::Page Scripts(used by this page) -->
<script th:src="@{/dashboard/js/dashboard.js}" type="text/javascript"></script>

<!--end::Page Scripts -->
</body>

<!-- end::Body -->
</html>