<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->
<head>

    <meta charset="utf-8"/>
    <meta content="bwWMxQjqt20cC6ZklRhrh5cXmUNPgfORZydWT_6WB08" name="google-site-verification"/>
    <title>GRisk | Login</title>
    <meta content="GRisk Login" name="description">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!--begin::Page Custom Styles(used by this page) -->
    <link rel="stylesheet" th:href="@{/css/login/login.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/vendors/custom/vendors/flaticon/flaticon.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/vendors/custom/vendors/flaticon2/flaticon.css}" type="text/css"/>
    <!--end::Page Custom Styles -->

    <!--begin:: Global Mandatory Vendors -->
    <link rel="stylesheet" th:href="@{/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css}" type="text/css"/>

    <!--end:: Global Mandatory Vendors -->

    <!--begin:: Global Optional Vendors -->
    <link rel="stylesheet" th:href="@{/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/vendors/general/animate.css/animate.css}" type="text/css"/>

    <!--end:: Global Optional Vendors -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link rel="stylesheet" th:href="@{/css/style.bundle.css}" type="text/css"/>

    <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <style>
        .kt-spinner.kt-spinner--sm.kt-spinner--right:before {
            right: 10px !important;
        }
    </style>
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v4 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
             th:style="'background:url(' + @{/images/login/background.webp} + '); background-color: #261a3c;'">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                <div class="kt-login__container" th:if="${proccess == null or proccess != 'restart_by_email'}">
                    <div class="kt-login__logo">
                        <a th:href="@{/login}">
                            <img alt="" th:src="@{/images/grisk-reverse.png}">
                        </a>
                    </div>
                    <div class="kt-login__signin">
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">Bienvenido</h3>
                        </div>
                        <form class="kt-form" id="login_signin" method="POST" th:action="@{/check_login}">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control" name="username"
                                       placeholder="Usuario o correo electrónico"
                                       type="text">
                            </div>
                            <div class="input-group">
                                <input class="form-control" name="password" placeholder="Contraseña" type="password">
                            </div>
                            <div class="row kt-login__extra">
                                <div class="col">
                                    <!--<label class="kt-checkbox">
                                        <input type="checkbox" name="remember-me"> Recuérdame
                                        <span></span>
                                    </label>-->
                                </div>
                                <div class="col kt-align-right">
                                    <a class="kt-login__link" href="javascript:;" id="kt_login_forgot">¿Has olvidado tu
                                        contraseña?</a>
                                </div>
                            </div>
                            <div class="kt-login__actions">
                                <button class="btn btn-brand btn-pill kt-login__btn-primary"
                                        id="kt_login_signin_submit">Ingresar
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="kt-login__signup">
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">Regístrate</h3>
                            <div class="kt-login__desc">Por favor ingrese los siguientes detalles:
                            </div>
                        </div>
                        <div class="kt-login__head">
                            <form action="" class="kt-form">
                                <div class="row">
                                    <div class="kt-login__desc col-lg-12">
                                        <i class="la la-user" style="font-size: 24px; margin-right: 8px;"></i>Cuenta de
                                        administrador
                                    </div>
                                    <div class="input-group col-lg-6">
                                        <input maxlength="50" autocomplete="off" class="form-control"
                                               id="kt-login__signup-username"
                                               name="username" placeholder="Usuario"
                                               style="margin-left: 10px;margin-right: 10px;" type="text">
                                    </div>
                                    <div class="input-group col-lg-6">
                                        <input autocomplete="off" class="form-control" id="kt-login__signup-email"
                                               name="email" placeholder="Correo electrónico"
                                               style="margin-left: 10px;margin-right: 10px;" type="text">
                                    </div>
                                    <div class="input-group col-lg-6">
                                        <input maxlength="50" autocomplete="off" class="form-control"
                                               id="kt-login__signup-password"
                                               name="password" placeholder="Contraseña"
                                               style="margin-left: 10px;margin-right: 10px;" type="password">
                                    </div>
                                    <div class="input-group col-lg-6">
                                        <input maxlength="50" autocomplete="off" class="form-control"
                                               id="kt-login__signup-rpassword"
                                               name="rpassword" placeholder="Confirma contraseña"
                                               style="margin-left: 10px;margin-right: 10px;"
                                               type="password">
                                    </div>
                                    <div class="kt-login__desc col-lg-12" style="margin-top: 30px">
                                        <i class="la la-building-o" style="font-size: 24px;margin-right: 8px;"></i>Empresa
                                    </div>
                                    <div class="input-group col-lg-6">
                                        <input maxlength="20" autocomplete="off" class="form-control"
                                               id="kt-login__signup-rut_organization"
                                               name="rut_organization" placeholder="Rut comercial"
                                               style="margin-left: 10px;margin-right: 10px;"
                                               type="text">
                                    </div>
                                    <div class="input-group col-lg-6">
                                        <input maxlength="90" autocomplete="off" class="form-control"
                                               id="kt-login__signup-name_organization"
                                               name="name_organization" placeholder="Nombre de tu empresa"
                                               style="margin-left: 10px;margin-right: 10px;"
                                               type="text">
                                    </div>
                                    <div class="row kt-login__extra col-lg-12" style="margin-top: 30px">
                                        <div class="col kt-align-left">
                                            <label class="kt-checkbox">
                                                <input name="agree" type="checkbox">Estoy de acuerdo con los
                                                <a class="kt-link kt-login__link kt-font-bold" href="#">términos y
                                                    condiciones</a>.
                                                <span></span>
                                            </label>
                                            <span class="form-text text-muted"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-login__actions">
                                    <button class="btn btn-brand btn-pill kt-login__btn-primary"
                                            id="kt_login_signup_submit">Registrarse
                                    </button>&nbsp;&nbsp;
                                    <button class="btn btn-secondary btn-pill kt-login__btn-secondary"
                                            id="kt_login_signup_cancel">Cancelar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="kt-login__forgot">
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">¿Olvidaste tu contraseña?</h3>
                            <div class="kt-login__desc">Ingresa tu correo electrónico para restablecer su contraseña:
                            </div>
                        </div>
                        <form action="" class="kt-form">
                            <div class="input-group">
                                <input maxlength="50" autocomplete="off" class="form-control"
                                       id="kt-login__forgot-email" name="email"
                                       placeholder="Correo electrónico"
                                       type="text">
                            </div>
                            <div class="kt-login__actions">
                                <button class="btn btn-brand btn-pill kt-login__btn-primary"
                                        id="kt_login_forgot_submit">Restablecer
                                </button>&nbsp;&nbsp;
                                <button class="btn btn-secondary btn-pill kt-login__btn-secondary"
                                        id="kt_login_forgot_cancel">Cancelar
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="kt-login__account" style="margin-bottom: 100px;">
								<span class="kt-login__account-msg">
									¿No tienes una cuenta?
								</span>
                        &nbsp;&nbsp;
                        <a class="kt-login__account-link" href="javascript:;" id="kt_login_signup">Regístrate!</a>
                    </div>
                </div>

                <div class="kt-login__container" th:if="${proccess != null and proccess == 'restart_by_email'}">
                    <div class="kt-login__logo">
                        <a href="#">
                            <img alt="" th:src="@{/images/grisk-reverse.png}">
                        </a>
                    </div>
                    <div class="kt-login__postforgot">
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">Restablece tu contraseña</h3>
                            <div class="kt-login__desc">Ingresa la nueva contraseña para la cuenta de <label
                                    style="font-weight: 600;color: #d2d2d2;" th:text="${forgotemail}"></label>:
                            </div>
                        </div>
                        <form action="" class="kt-form">
                            <div class="input-group">
                                <input maxlength="50" autocomplete="off" class="form-control" hidden
                                       id="kt-login__postforgot-email"
                                       name="postforgotemail"
                                       placeholder="Email" style="margin-left: 10px;margin-right: 10px;"
                                       th:value="${forgotemail}" type="text">
                            </div>
                            <div class="input-group">
                                <input autocomplete="off" class="form-control" hidden id="kt-login__postforgot-token"
                                       name="rpostforgottoken"
                                       placeholder="Token" style="margin-left: 10px;margin-right: 10px;"
                                       th:value="${forgottoken}"
                                       type="text">
                            </div>
                            <div class="input-group">
                                <input maxlength="50" autocomplete="off" class="form-control"
                                       id="kt-login__postforgot-password"
                                       name="postforgotpassword" placeholder="Nueva contraseña"
                                       style="margin-left: 10px;margin-right: 10px;" type="password">
                            </div>
                            <div class="input-group">
                                <input maxlength="50" autocomplete="off" class="form-control"
                                       id="kt-login__postforgot-rpassword"
                                       name="rpostforgotpassword" placeholder="Confirmar contraseña"
                                       style="margin-left: 10px;margin-right: 10px;"
                                       type="password">
                            </div>
                            <div class="kt-login__actions">
                                <button class="btn btn-brand btn-pill kt-login__btn-primary"
                                        id="kt_login_postforgot_submit">Restablecer
                                </button>
                            </div>
                        </form>
                        <div class="kt-form">
                            <div class="kt-login__actions">
                                <a th:href="@{/login}">
                                    <button class="btn btn-brand btn-pill kt-login__btn-primary" hidden
                                            id="kt_login_postforgot_redirect">Ir a login
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- end:: Page -->
<!--begin::Fonts -->
<script th:src="@{/js/webfont.js}" type="text/javascript"></script>
<script>
    WebFont.load({
        google: {
            "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
        },
        active: function () {
            sessionStorage.fonts = true;
        }
    });
</script>

<!--end::Fonts -->
<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#7c0acd",
                "dark": "#282a3c",
                "light": "#ffffff",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };
</script>

<!-- end::Global Config -->

<!--begin:: Global Mandatory Vendors -->
<script th:src="@{/vendors/general/jquery/dist/jquery.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/bootstrap/dist/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/sticky-js/dist/sticky.min.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/jquery-validation/dist/jquery.validate.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/jquery-validation/dist/localization/messages_es_PE.js}"
        type="text/javascript"></script>
<script th:src="@{/vendors/custom/js/vendors/jquery-validation.init.js}" type="text/javascript"></script>
<script th:src="@{/vendors/general/jquery-form/src/jquery.form.js}" type="text/javascript"></script>

<!--begin::Global Theme Bundle(used by all pages) -->
<script th:src="@{/js/scripts.bundle.js}" type="text/javascript"></script>

<!--end::Global Theme Bundle -->

<!--begin::Page Scripts(used by this page) -->
<script th:src="@{/vendors/custom/jquery.rut/jquery.rut.js}" type="text/javascript"></script>
<script th:src="@{/js/login/login.js}" type="text/javascript"></script>
<script th:if="${session != null and session['SPRING_SECURITY_LAST_EXCEPTION'] != null and session['SPRING_SECURITY_LAST_EXCEPTION'].message !=null}"
        th:inline="javascript">
    /*<![CDATA[*/
    var messageError = /*[[${session['SPRING_SECURITY_LAST_EXCEPTION'].message}]]*/ 'Ha ocurrido un error inesperado, por favor comuniquese con el administrador del sistema.';
    var login = $('#kt_login');
    var signInForm = login.find('.kt-login__signin form');
    showErrorMsg(signInForm, 'danger', messageError);
    /*]]>*/
</script>
<script th:if="${proccess != null and proccess == 'confirm_by_email_success'}" th:inline="javascript">
    showErrorMsg($('#kt_login').find('.kt-login__signin form'), 'success', 'La confirmación de su cuenta GRisk ha sido realizada con éxito, por favor ingrese con sus credenciales.');
</script>
<script th:if="${errors != null and errors == 'confirm_by_email_token_failed'}" th:inline="javascript">
    showErrorMsg($('#kt_login').find('.kt-login__signin form'), 'info', 'El token ya ha sido utilizado o es invalido, por favor realizar la petición nuevamente.');
</script>
<script th:if="${errors != null and errors == 'restart_by_email_token_failed'}" th:inline="javascript">
    showErrorMsg($('#kt_login').find('.kt-login__signin form'), 'danger', 'El token ya ha sido utilizado o es invalido, por favor realizar la petición de restablecer la contraseña nuevamente.');
</script>
<script th:if="${proccess != null and proccess == 'restart_by_email'}" th:inline="javascript">
    $('#kt_login_postforgot_submit').click(function (e) {
        var login = $('#kt_login');
        e.preventDefault();

        var btn = $(this);
        var form = $(this).closest('form');

        var postforgotrequest = {};
        postforgotrequest["email"] = $("#kt-login__postforgot-email").val();
        postforgotrequest["token"] = $("#kt-login__postforgot-token").val();
        postforgotrequest["pass"] = $("#kt-login__postforgot-password").val();
        $.validator.addMethod('forcePassword', function (value, element, param) {
            return value.match(/^(?=.*\d)(?=.*[\u0021-\u002b\u002d-\u002e\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,16}$/);
        }, 'La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula, al menos una mayúscula y al menos un caracter no alfanumérico.');
        form.validate({
            rules: {
                postforgotpassword: {
                    required: true,
                    forcePassword: true
                },
                rpostforgotpassword: {
                    required: true,
                    equalTo: "#kt-login__postforgot-password"
                }
            }
        });

        if (!form.valid()) {
            return;
        }

        btn.addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: '/v1/rest/user/post-reset-by-login',
            data: JSON.stringify(postforgotrequest),
            dataType: 'json',
            cache: false,
            timeout: 60000,
            complete: function (data) {
                btn.removeClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', false);
                form.clearForm();
                form.validate().resetForm();
            },
            success: function (data, textStatus, jqXHR) {
                btn.attr('hidden', true);
                $('#kt_login_postforgot_redirect').attr('hidden', false);
                showErrorMsg(form, 'success', 'Genial! Se ha restablecido correctamente su contraseña, por favor ingrese al sistema con sus nuevas credenciales');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                showErrorMsg(form, 'danger', 'Ha ocurrido un problema al realizar el restablecimiento de contraseña, por favor intente nuevamente más tarde.');
            }
        });
    });
</script>
<script th:if="${param.logout}" th:inline="javascript">
    var messageClosedSession = 'Usted ha cerrado sesión.';
    var login = $('#kt_login');
    var signInForm = login.find('.kt-login__signin form');
    showErrorMsg(signInForm, 'info', messageClosedSession);
</script>


<!--end::Page Scripts -->
</body>

<!-- end::Body -->
</html>